[2014-01-27 10:17] GU5TAF opened #1 "Width and Height"
Added the ability to rename using %w and %h for width and height.

[code]

[2014-01-27 22:07] #1 closed, assigned to nobody

[2014-01-28 09:01] studiostoll opened #2 "Random crashes"
Hey there,

I love your plugin a lot! It works like a charm … :-) I'm getting frequent random Sketch crashes, though. I was trying to reproduce yesterday, but couldn't figure out unfortunately. Anybody else having this issue? Should I post a crash log?

Thanks & all the best,
Christophe

[2014-02-03 17:14] RaphyRaph opened #3 "Feature request : Find & Replace layer names"
Throughout whole document including page. That would be killer.

[2014-05-07 05:00] RaphyRaph opened #6 "%N doesnt work anymore"
in Sketch 3 beta, %N just exports the string '%N', not the right numbering anymore

[2014-05-17 13:43] #6 closed, assigned to nobody

[2014-06-26 08:59] squarefrog opened #8 "+ replaces group layer name"
If I name my group/layer "button" then attempt to add a suffix with `+ button`, instead of adding the suffix, it just replaces the layer name with "+ button".

Sketch 3.0.3, latest RenameIt plugin.

[2014-07-04 16:43] #2 closed, assigned to nobody

[2014-07-04 16:47] #8 closed, assigned to rodi01

[2014-07-15 20:58] jmdenis opened #9 "Feature request - Alphabetical letters"
Hi,

Same as numbers with %N but with letters please?

Thanks!

[2014-09-03 10:08] florianpeninon opened #10 "Can't have 2 times '%N' on layers"
Trying to rename my file to make them appear properly into the finder with this kind of structure :

[code]

But I the second digit isn't working it only display '%N' :

[code]

Any chance to solve that or do you know a workaround?

[2014-09-20 11:33] rzecchini opened #11 "Escape special characters (*, %, +)"
Sometimes you need to include characters like "+" or "*" inside layer names (e.g append \* to a layer when building prototypes with framer.js). It could be useful to escape their special-power (e.g. putting "\" before the sign, like in regular expressions)

[2014-10-21 01:40] #11 closed, assigned to rodi01

[2014-10-21 17:46] #10 closed, assigned to rodi01

[2014-11-25 11:03] tbnv opened #12 "Numbers >= 10"
At this time, it looks like %N doesn't go above 9.
Instead of numbering 9, 10, 11, 12 it returns 9, 0, 1, 2.

Edit: I know that using %NN includes leading zeros etc. but I think that the above is still true and should not go back to 0 after 9.

[2015-03-13 19:12] baronetto commented on #12
Is there a solution to this yet? Any workarounds?

[2015-03-13 19:32] rodi01 commented on #12
The workaround is to use the %NN. I'm working on a fix

[2015-03-14 14:18] #12 closed

[2015-03-14 15:19] #9 closed

[2015-05-01 13:57] jurgenbelien opened #13 "Numbers above 999 not correctly passed as layer name"
For some reason the leading '1' for numbers above 999 are skipped when using '%n'

![tile set all white text sketch](https://cloud.githubusercontent.com/assets/8565223/7431030/9dbd971c-f01a-11e4-8b85-b65a174afc9b.png)

[2015-05-25 09:03] JayHoltslander opened #14 "%N not working"
Plugin doesn't seem to work with Sketch 3.2.2
Watched the demo video 3 times. Read the instructions. Still get ten layers all named "Item %N" after running the plugin.

[2015-05-26 14:48] rodi01 commented on #14
@JayHoltslander I just checked on version 3.3.2 (12043), It works fine. The code was re-factored not too long ago to work on 3.3, I'm not sure if it will work on 3.2.x

[2015-06-06 00:43] RaphyRaph commented on #3
+1 pliiiiiize

[2015-07-08 09:00] fbnlrt commented on #3
+ 1 Please :)

[2015-07-08 18:45] rodi01 commented on #3
Do you guys have any pattern ideas for find and replace?
%Fhello%Rworld

I think the best way would be to have a different dialog modal with find and replace inputs.

What do you think?

[2015-07-11 22:33] #14 closed

[2015-07-11 22:36] #13 closed

[2015-07-11 23:02] #3 closed

[2015-11-02 08:37] badyqb opened #16 "Sometimes it fails to work"
Hi, I found this plugin sometimes work but sometimes it fails to work.
I'm not sure if this happen because of sketch 4.3. It works fine in 3.3

[2015-11-02 17:43] rodi01 commented on #16
@badyqb It seems to be related to the latest Sketch. I saw the same issue with my plugin and many others but Sketch doesn't generate any error message. I just tried on the latest beta (3.4.1) and it's working fine, looks like they are working on an update soon.

[2015-11-06 12:59] julienpecorino opened #17 "Not an issues, a suggestion"
Hello,
Thanks for this great plug in its amazing,
I would like to know if you could add an option to delete some characters in layer / artboard names.
I have more than 200 artboards in the app I'm currently designing and the artboard names are this:
onboarding_0056__A23_state_1

I would like to delete the "_0056__" in thoses artboard names

I tried to add a function to your plugin but I don't have

[2015-11-06 16:22] rodi01 commented on #17
That's a good idea, @julienpecorino! I will tag as a feature request, hopefully it isn't too hard to do.

[2015-11-06 16:23] #16 closed

[2015-11-07 20:51] ivancucer opened #18 "Reverse %N order for the selected layers"
Hello,

It'd be great if you add the ability to choose the type of order:
1. From first to last
2. From last to first

Now it is possible to rename from the first to the last layer.

Thank you!

Best,
Ivan

[2015-11-07 20:55] ivancucer opened #19 "Interval for %N"
Hello,

It'd be great if you add the ability to choose an interval eg. `20-29`

Now it is possible to rename only from the starting number.

Thank you!

Best,
Ivan

[2015-11-08 20:14] rodi01 commented on #18
Hi Ivan,

Try using lowercase %n, it reverses the order. Is that what you mean?

Thanks

On Nov 7, 2015, 12:51 PM -0800, Ivan<notifications@github.com>, wrote:

[2015-11-08 20:34] ivancucer commented on #18
Hey,

Thank you for your reply. Oh sorry my bad, I didn't read the description properly :)

Ivan

[2015-11-08 20:34] #18 closed

[2015-11-09 17:39] rodi01 commented on #19
Hi Ivan,
I'm trying to figure it out how would this work. Can you give me an example how it would apply?

Do you mean only 9 layers will be renamed if chosen 20-29 interval?

Thanks

[2015-11-09 20:20] ivancucer commented on #19
Hey,

Thank you for your reply. Yes exactly :)

![monosnap 2015-11-09 21-18-25](https://cloud.githubusercontent.com/assets/2349195/11045415/9a0d7b4c-8727-11e5-948c-2d86c71aeb17.jpg)

Best,
Ivan

[2016-04-05 17:15] dantasjadson opened #20 "Rename subfolders and layers inside a folder."
Amazing work, Rodrigo! I have installed it but, for example, if I have five folders and, inside, some layers and I want update all these folders and layers' name, I can't to do it. Is there some way to do it?

Thanks @rodi01 !

[2016-04-29 22:53] benstronaut opened #21 "Option to reverse %n naming based on Sketch's logic"
When duplicating layers, they move up in the sketch layer tree so to speak.
User must then move the layers in reverse order so that the rename plug will properly order with %N.
Could we have an option to reverse that naming so the top most layer isn't #1 it's actually the last number in the list?

[2016-04-29 22:57] benstronaut commented on #21
Step 1: Duplicating an artboard 7 times moves the layers upwards on the layers list.

<img width="1212" alt="screen shot 2016-04-29 at 3 54 20 pm" src="https://cloud.githubusercontent.com/assets/13004940/14931778/f4205f96-0e22-11e6-8e2a-eb48c7ad57df.png">

Step 2: Then when using %n re-name it, the artboards are reversed.

<img width="1208" alt="screen shot 2016-04-29 at 3 54 55 pm" src="https://c

[2016-04-29 22:58] benstronaut commented on #21
Desired result:
<img width="1205" alt="screen shot 2016-04-29 at 3 58 25 pm" src="https://cloud.githubusercontent.com/assets/13004940/14931811/3cf909d4-0e23-11e6-9a94-39e2ca1e8c4a.png">

[2016-07-08 03:08] MAJ3STIC commented on #21
Has this been solved?

[2016-07-18 20:59] benstronaut commented on #21
Not to my knowledge!

[2016-09-12 18:53] leannegunn opened #22 "Feature request: rename symbol instances to actual symbol name"
It would be great if you could rename symbol instances to the actual symbol name. For example, if you have 2 symbols called Button Default and Button Pressed, and you have an instance of "Button Default" that you then replace with Button Pressed, the name of the symbol instance is still "Button Default," when it's actually now an instance of Button Pressed.

[2016-09-12 19:01] leannegunn commented on #22
UPDATE: I found [this plugin](https://github.com/exevil/sketch-rename-instances) which does what I am asking, something to consider blending in if you're up for it-- thanks :)

[2016-09-25 16:28] rodi01 commented on #22
Interesting idea @leannegunn. I might include it in the next version. Thanks for the suggestion.

[2016-10-14 08:42] Myrronth opened #23 "Input focus should be accessible with keyboard"
With 2.0 and Sketch 40.3 i am not able to switch the focus between input fields with my keyboard (TAB switches focus between the dialogs buttons, but ignores the text fields).

Also, the first input field should receive focus when the dialog appears.

[2016-10-14 08:47] Myrronth commented on #23
Strange, i just got back to work with sketch, used the plugin and the focus-switch and focus-on-show do work.

What does not work now is to switch the focus between all controls. I can only switch forward or backward to the next/previous text fields. It would be much more convenient to be also able to select the dialogs buttons and to have a focus-"carousel".

[2016-12-20 20:11] blaineb opened #24 "Feature request: Notify about updates"
Sketch measure does this (albeit too frequently), but it is helpful to know!

[2017-01-11 10:22] heckmac commented on #20
+1

I'd also love to be able to rename a subfolder.

Thanks!

[2017-01-16 11:32] JoeDawson opened #25 "Autofocus "name" input"
Hello,

Firstly I'd like to say thanks for this plugin, it's saved me a lot of time.

As of late, when renaming layers - the "name" input isn't auto focused (it used to be) when the dialog appears.

It used to auto focus the input all the time, but I'm not sure when it stopped on me. I know it's not a hardship to simply click the input to focus it, but it was very helpful when it was auto focused.

[2017-01-16 11:35] JoeDawson commented on #25
Sorry, just seen your 2.0.1 release https://github.com/rodi01/RenameIt/releases/tag/v2.0.1

Update worked for me. I thought plugins auto updated, my bad!

[2017-01-16 11:35] #25 closed

[2017-01-24 20:23] lysykrzys opened #26 "Feature request: use of tab button"
Can you add a tab button option, so we could quickly change between input boxes in Rename window?

[2017-02-02 19:02] c5inco opened #27 "Enhancement: Have ability to add 0 for %N to aid in sorting exported assets"
Hello, I love the plugin!  One thing that would be nice is if you could specify adding a "0" when using %N for the cases of selections that are between 1 and 9.  This is because when sorting exported assets on the filesystem, "11-layername.png" with come before "2-layername.png".

[2017-02-14 15:30] PDXIII commented on #26
I vote for that! And additionally could you please put the first input field in focus, so that your user can start typing immediately.

[2017-03-15 18:07] blaineb commented on #27
You can do this by adding %NN into the input.  Hope t
![00 index](https://cloud.githubusercontent.com/assets/1864893/23963759/95c3fe32-096f-11e7-8621-db550ebd5f64.gif)

[2017-03-23 18:56] adamkirkwood opened #28 "[Feature Request] Integrate with Sketchpacks Relay to serve auto-updates"
More details found @ https://github.com/integration/sketchpacks-relay

Example
![screen shot 2017-03-22 at 4 08 57 pm](https://cloud.githubusercontent.com/assets/52746/24224720/fc40de64-0f19-11e7-8473-a2798193fc33.png)

[2017-04-29 01:04] rodi01 commented on #28
Already done!

[2017-04-29 01:04] #28 closed

[2017-04-29 01:08] #27 closed

[2017-04-29 01:25] rodi01 commented on #26
This should work, make sure you have the latest version installed.

[2017-04-29 07:34] lysykrzys commented on #26
It works. Thank you !!

[2017-04-29 07:34] #26 closed

[2017-05-07 18:21] Prestapro opened #31 "New feature edit part words|folder"
Hello,
It great plugin seriously
I have strange text export from illustrator
_xA0_Image
I want drop all part phrases in all layers, but i don`t how make it
Screen:
http://prntscr.com/f573uc

Any idea?
Maybe it help a lot of people.

Regards,
Alexandr

[2017-05-11 04:49] c5inco commented on #27
Oh awesome - thanks for the tip!

[2017-05-13 03:37] rodi01 commented on #31
You can use the Find & Replace Layers Name and leave the replace field empty.
Like this:
![Find Replace](https://d2ppvlu71ri8gs.cloudfront.net/items/2q3r3D2L1h2W3H0C0H2x/Screen%20Shot%202017-05-12%20at%208.34.50%20PM.png)

[2017-05-22 21:25] #31 closed

[2017-05-22 21:27] rodi01 commented on #24
I was thinking about adding that but the latest beta version of sketch have new update plugin feature.

[2017-05-22 21:27] #24 closed

[2017-05-22 21:29] rodi01 commented on #17
This can be achieved with the find & replace feature

[2017-05-22 21:29] #17 closed

[2017-05-22 21:32] rodi01 commented on #21
Lowercase %n rename the layers ascending order.
Uppercase %N rename the layers in descending order.

[2017-05-22 21:32] #21 closed

[2017-05-22 21:33] #22 closed

[2017-05-22 21:34] #23 closed

[2017-05-22 21:34] rodi01 commented on #20
This is a limitation with sketch where the user can't select subfolder and its parent.

[2017-05-22 21:34] #20 closed

[2017-06-01 10:38] bomberstudios opened #32 "Support Sketch 45 plugin update system"
Hi there!

This is a quick note to remind you that Sketch 45 will include a plugin update system.

It would be awesome if you could add support to it (it's really easy!) before Sketch 45 comes out. Ideally, you should release an update for your plugin while we're still in Sketch 44, so your users will have a nice & easy experience when 45 is released.

For more details, please check http://sketchp

[2017-06-02 16:03] rodi01 commented on #32
Resolved on commit ad95d17182401748dab0d2c05451e20329b285cc

[2017-06-02 16:03] #32 closed

[2017-06-04 08:50] bomberstudios commented on #32
👏👏👏

[2017-06-06 10:01] RobinPoirot opened #33 "Helper Idea : %C"
Hi, just wanted to add an idea that can help designers.
Have a namer "Helper" like %C that can give color hexadecimal.

(sorry if this isn't a real issue, and sorry for bad english).

[2017-06-06 15:48] rodi01 commented on #33
That's a good idea. I will see what it takes to do that.

[2017-06-15 12:41] Charlotte923 opened #34 "Variable Parent Name"
Hi,

First of all, I love this plugin.

I would like to ask if it's possible to have a parent variable, just like the use of the '*', but then something like '*P' which will use the name of the folder that your elements are in. This would be super useful.

Thanks!

[2017-06-15 20:15] rodi01 commented on #34
@Charlotte923 That's an interesting feature. I will see what it takes to make it happen.

Thanks!

[2017-06-16 04:19] rodi01 opened #35 "New UI"

[2017-06-16 04:24] rodi01 opened #37 "Reorganize Code"

[2017-06-16 04:25] rodi01 commented on #37
Done in 51a9c2c

[2017-06-16 04:25] #37 closed

[2017-06-16 04:26] rodi01 commented on #35
Finished in b55db48

[2017-06-16 04:26] #35 closed

[2017-06-21 08:41] Albertovitullo opened #38 "Adjustment on pop-up modal"
Hi man, I use your plugin on a daily basis, and I find it really useful 👍
There is one detail which really annoys me though, and therefore I decided to write you about it. It's a very minor thing, but it would really speed up my workflow.

Is it possible to have the first of the input fields already active when launching the plugin? Basically when I click "rename it" I would love the modal to appe

[2017-06-21 15:23] rodi01 commented on #38
That issue was fixed. Have you tried updating the plugin?

Let me know if that works.

On Jun 21, 2017, 1:41 AM -0700, Albertovitullo <notifications@github.com>, wrote:

[2017-06-21 16:49] Albertovitullo commented on #38
Yes - just downloaded and installed again. Doesn't work :)

[2017-06-21 18:00] rodi01 commented on #38
Which version of sketch are you on? I can't reproduce it on my end.

[2017-06-28 12:27] alampros opened #39 "Feature request: default to last used values"
It would be nice to have a starting point sometimes. Either the current layer name or the last used value would be very helpful (pre-selected so you can just start typing to clear it out).

Thanks!

[2017-06-28 17:54] rodi01 commented on #39
@alampros That's a great idea! I'm about to release a big update and I think this would be a good thing to add to the next version. What do you think of a auto-complete with recent results?

[2017-06-29 07:07] Mco-Design commented on #39
What about having something similar to Renamy plugin on Photoshop? See link below:
https://cdn.dribbble.com/users/5911/screenshots/1188239/renamy-plugin.gif

[2017-06-30 12:04] alampros commented on #39
That's pretty awesome! I think that would work great, but probably best as an input component with a dropdown. However, I don't know anything about sketch plugin UI development.

![i have no idea what im doing](https://cdn-images-1.medium.com/max/455/1*snTXFElFuQLSFDnvZKJ6IA.png)

[2017-06-30 13:48] pelegred opened #40 "Change Case"
Is here where you request a feature? sorry if not... 😖

how about changing case of [original name] by entering something like this

[code]

love this plugin ❤️

[2017-06-30 17:18] rodi01 commented on #40
Great idea! I have to figure out how to escape the letters in case someone wants to actually write lc after the name.

[2017-07-12 23:17] chrismessina opened #42 "v2.0.7 download is missing"
I noticed that Sketch is reporting that v2.0.7 should be available, but tapping "update" doesn't do anything.

![preferences](https://user-images.githubusercontent.com/22610/28143945-605653ec-671d-11e7-8c62-64fa5b5ba46d.png)

It seems that the problem is that the 2.0.7 binary is missing:

https://github.com/rodi01/RenameIt/blob/master/RenameIt.zip?raw=true

...or at least that the file referenced

[2017-07-12 23:51] rodi01 commented on #42
@chrismessina Thanks! It should be fixed.

[2017-07-12 23:51] #42 closed

[2017-07-17 11:30] lanceplaine opened #43 "The shortcut `⌃⇧R` is in conflict with the default "Run previous plugin""
This shortcut overwrite the "Run previous plugin" in Sketch.
It would be great if you can use another keyboard shortcut.

<kbd>⌃</kbd>+<kbd>⇧</kbd>+<kbd>R</kbd>

<img width="375" alt="screen shot 2017-07-17 at 1 28 42 pm" src="https://user-images.githubusercontent.com/5476205/28266199-e9089cfc-6af3-11e7-9e9a-2fb2ea1eab38.png">

Thanks!

[2017-07-17 13:24] timurnurutdinov commented on #43
+1 here. "Rename selected Artboard" should be the first item in my opinion because plugin is not about it

[2017-07-17 15:10] rodi01 commented on #43
@timurnurutdinov @lanceplaine sorry about that. I'm going to remove the shortcut for now.
FYI @JBLatenight

[2017-07-17 15:17] #43 closed

[2017-07-17 16:55] timurnurutdinov commented on #43
Thanks for such a quick fix!

[2017-07-17 17:23] lanceplaine commented on #43
Thanks :)

[2017-07-20 23:37] erindelaney opened #44 "Feature request: Leading 0(s)"
Thank for you for this awesome plugin, it has saved me so much time!

If possible, it'd be great to be able to enter a leading 0 in the "Starts Number Sequence From:" field. For example, I frequently rename artboards with numbers for sorting purposes, but sequence 1 - 12 sorts as: 1, 11, 12, 2, 3, 4 etc. It'd be nice to be able to create a number sequence from 01 - 12.

[2017-07-21 01:47] rodi01 commented on #44
@erindelaney it's actually possible right now. The number of "N" dictates the sequence. In your case, try %NN or %nn and see if it works.

[2017-07-21 02:38] erindelaney commented on #44
Oh fantastic, thank you so much! Thanks again for such a great plugin :)

[2017-07-21 02:38] #44 closed

[2017-07-28 20:04] ivancucer opened #45 "⌃ + ⌘ + R shortcut doesn't work"
v2.0.8
Sketch 45.2
MacOS 10.12.5

[2017-07-28 20:27] rodi01 commented on #45
@ivancucer There must be another plugin overwriting the shortcut. I just tried it and it works fine on my end.
If there is another plugin overwriting the shortcut, there isn't much I can do. I hope Sketch will one day let the users manage shortcuts.

[2017-07-28 20:41] ivancucer commented on #45
![untitled 2017-07-28 22-39-07](https://user-images.githubusercontent.com/2349195/28735512-d0c9f62c-73e5-11e7-89aa-7104406f19ad.jpg)

[2017-07-28 20:43] ivancucer commented on #45
Hmm... I'm sorry. TopTracker.app uses `⌃ + ⌘ + R` shortcut 🤦‍♂️

[2017-07-28 20:43] #45 closed

[2017-07-28 21:08] rodi01 commented on #45
@ivancucer Another thing you can do is change the shortcut on the keyboard settings in the Mac System Preference.
![screen shot 2017-07-28 at 2 06 40 pm](https://user-images.githubusercontent.com/52461/28736325-30773a82-739e-11e7-85f5-acbe45de9934.png)

[2017-08-08 03:42] olafchou opened #47 "why i can't Rename Selected Artboard"
<img width="421" alt="2017-08-08 11 41 10" src="https://user-images.githubusercontent.com/19890798/29055338-822e63d0-7c2e-11e7-8156-45db9feb7f77.png">

i selected several artboards ,but failed to rename it ,could you have a look at it ?it maybe a bug

[2017-08-08 04:07] rodi01 commented on #47
@olafchou It's a bug, it will be fixed on the next release. The workaround for now is to select the artboard and use the "Rename Selected Layers" feature instead, it should work.

[2017-08-08 15:58] rodi01 commented on #47
This is fixed on the latest release. Make sure to update your plugin.

[2017-08-08 15:58] #47 closed

[2017-08-08 15:59] #38 closed

[2017-08-08 15:59] #19 closed

[2017-09-05 07:39] olafchou opened #49 "the sequence is not right ?"
<img width="820" alt="2017-09-05 15 38 43" src="https://user-images.githubusercontent.com/19890798/30050267-6a69c1bc-9250-11e7-894a-3d8143e1521d.png">

why the sequence is not right ？？

[2017-09-05 08:09] olafchou commented on #49
![Uploading 屏幕快照 2017-09-05 15.42.28.png…]()
<img width="677" alt="2017-09-05 15 42 37" src="https://user-images.githubusercontent.com/19890798/30051429-8d4c7932-9254-11e7-96f0-79c61263585b.png">

[2017-09-05 17:52] rodi01 commented on #49
@olafchou The plugin rename according to the order of the layers/artboards and not to the position on the canvas. Order them first on the layer list and try again.
I hope it helps.

[2017-09-12 17:30] eaugustine opened #50 "Start with 01"
Love this plugin! I wondered if you could add the ability to place a zero before the number when sorting by a number sequence. So the numbers could go "01, 02, 03,...10, 11, 12..."

[2017-09-12 17:49] rodi01 commented on #50
You can do that right now. Just add more “N” for the number of zeros. Ex. %nn or %NN

Rodrigo Soares
Follow me on Twitter | Instagram

On Sep 12, 2017, 10:30 AM -0700, eaugustine <notifications@github.com>, wrote:

[2017-09-12 18:23] eaugustine commented on #50
Oh, wonderful! Thank you!

[2017-09-12 18:24] #50 closed

[2017-10-11 22:29] c5inco commented on #49
Ah that seems to be the issue.  It would be nice to order it based on X/Y.  Maybe that is another plugin that someone can make: the ability to reorder artboards based on X/Y.

[2017-11-03 19:11] Arroyodorado opened #51 "Feature Request"
How about adding "%P" for the page name containing the artboard or layer? Would be useful sometimes.

Thanks for your work though, really like concept of this plugin.

[2017-11-03 20:10] Arroyodorado commented on #51
Ok, I played around a bit with your code and added it myself. Is there an easy way to let you know the code changes? I'm not so familiar with the process of pull requests...

8-)

[2017-11-04 06:19] rodi01 commented on #51
Thanks a bunch! If you created a branch and pushed the code I can take a look if you post the commit hash here.

[2017-11-04 14:36] johanneslamers commented on #40
This would be great!

[2017-11-05 20:01] rodi01 commented on #51
@Arroyodorado I ended up coding that in, will be available on the next update. Thanks for the suggestion

[2017-11-05 20:01] rodi01 commented on #51
@Arroyodorado I ended up coding that in, will be available on the next update. Thanks for the suggestion

[2017-11-06 10:38] Arroyodorado commented on #51
Oh, wow, cool! I was on the road over the weekend and didn’t have the time.

Anyway, thanks for your efforts and have a nice week.

8-)

[2017-11-06 19:04] #51 closed

[2017-11-09 09:59] johanneslamers commented on #40
Just add one more rule:
[code]

[2017-11-09 10:07] johanneslamers opened #53 "Helper Idea: Font Size - %F"
Would love to have a helper that adds the font size to the name.
Super helpful if you use text symbols and you update the text size.

<img width="194" alt="schermafdruk 2017-11-09 11 01 56" src="https://user-images.githubusercontent.com/4696315/32599728-ade8d23c-c53d-11e7-9973-e396a243d025.png">

Helper can be something like %F. In the image above you could do something like this: ```Body (%Fpx)``

[2017-11-09 16:45] rodi01 commented on #40
@johanneslamers any ideas on how to escape *sc for users that want to actually use “sc” after the *
The reason why I haven’t implemented this feature is because I can’t find a away to escape it.

[2017-11-09 16:46] rodi01 commented on #53
I will take a look on it, it shouldn’t be hard to implement it. Thanks for the suggestion.

[2017-11-21 09:29] mischugo opened #55 "Rename folder"
Great plugin!!!

Would like to have the option to rename folders (subfolders ...) too

Best

Maik

[2017-11-22 00:13] irfanrosandi commented on #49
yeah, i am looking for that plugin too that can order artboarts based on X/Y.

[2017-11-24 23:21] rodi01 commented on #49
This plugin "Automate" might help you sorting the artboards https://github.com/Ashung/Automate-Sketch

[2017-11-29 15:34] tijmenvangurp commented on #55
Mee too!! basically sometimes I want to rename all layers but also its parent folders. Sketch does not allow for an easy selection method. Same issue can be found here: https://sketchtalk.io/discussion/2764/selecting-all-layers

[2017-11-29 16:25] rodi01 commented on #55
Do you think this feature should be a dedicated menu item (Rename parent layers)? I can't think of a way to rename the layers and their parents all at once, it would be confusing.

[2017-11-29 16:39] mischugo commented on #55
May bei Like:

Rename {Name} in selected | all folders

Cheers

Am 29.11.2017 08:25 schrieb "Rodrigo Soares" <notifications@github.com>:

[2017-12-03 22:19] oeed opened #58 "Versions after v3.0.2 aren't installing"
For whatever reason, I can't seem to install any of the newer versions. I'll double click the .sketchplugin file but nothing happens. Likewise with Sketch Runner, it downloads it but it doesn't actually install. Only using v3.0.2 seems to work (i.e. bring up the 'Plugin has been installed' alert window).

I'm fine with v3.0.2, just though I'd let you know 😉

[2017-12-03 23:55] rodi01 commented on #58
Thanks, I will take a look.

[2017-12-04 00:50] rodi01 commented on #58
@oeed Are you able to update it from the Sketch plugins dialog?

[2017-12-04 01:47] rodi01 commented on #40
Finally added this feature #59
The only compromise is that I had to change * to %*

[code]

[2017-12-04 01:47] #40 closed

[2017-12-04 02:32] rodi01 commented on #34
Added this on the latest release #59

The key is %o for the parent

[2017-12-04 02:32] #34 closed

[2017-12-04 02:33] rodi01 commented on #58
This should be fixed. Thanks for letting me know.

[2017-12-04 02:33] #58 closed

[2017-12-04 17:45] zachj0hnston commented on #40
Thanks @rodi01! This is going to save us a lot of time :)

[2017-12-04 21:37] fbmore opened #60 "Feature request: Renaming layers to string after last "/""
Layers get messy when you insert a symbol that is part of a well organized Library...

So for example it would be great to have a command to rename all layers to the string after last "/"

Example:
"UI / Buttons / Primary Button - Active"
becomes: -> "Primary Button - Active"

This would really help make files more usable!

Thank you!

[2017-12-06 23:22] fancymans opened #61 "Wildcard (*) character not working"
Seems like I can no longer rename layers with the wildcard character as "match all after this point."

**For example, I have the following layers:**
Rect A
Rect B
Rect C

**Try to rename via Find & Replace**
Find: Rect*
Replace With: Circle %A

**Expected Results:**
Circle A
Circle B
Circle C

**Actual Results:**
Rect A
Rect B
Rect C

Nothing happens. I remember this working in the past, but it do

[2017-12-07 00:53] rodi01 commented on #61
Hi @fancymans,

The keywords were never available in the find and replace view. They are only available on the rename view. It's something that I'm considering adding in later releases.

One change that I've made was that the * wildcard now needs to be precessed by %. So %* should get the current layer's name in the rename view.

[2017-12-07 03:28] fancymans commented on #61
I see... maybe I have faulty memory. 🤔

Anyways thanks for the explanation. I suppose it’d be a feature request or enhancement to get the functionality I was looking for.

Cheers!

[2017-12-07 18:28] #61 closed

[2017-12-15 20:42] sdaitzman opened #62 "Feature Request: Left-Pad Numbering"
E.g. 01, 02, 03..10, 11, 12

Or 001, 002, 003, 004...112, 113, 114

[2017-12-15 21:10] ixley opened #63 "Support regex for Find and Replace"
Any chance of including regex support for the find and replace functionality?

I thought this was maybe already supported but realized I might have been thinking of a different plugin or else I forgot the syntax...

[2017-12-15 21:38] rodi01 commented on #62
Hi @sdaitzman,

This is actually possible right now. Try this %nn or %nnn

Cheers

[2017-12-15 21:41] rodi01 commented on #63
Regex isn't supported at the moment.
@LeonardPauli made a cool regex plugin give it a try: https://github.com/LeonardPauli/LayerRenamer

[2017-12-19 02:32] kntrttm opened #64 "Feature Request: Search scope"
it would be great that adding a switch for "find & replace layer names" feature like
□ whole document
□ current page
□ selected layer

[2017-12-19 23:43] rodi01 commented on #64
That's a good idea! I will add to the backlog.

[2017-12-19 23:43] #62 closed

[2017-12-19 23:57] sdaitzman commented on #62
@rodi01 thank you so much!!!!

[2017-12-20 15:12] PDXIII opened #65 "Feature Request: Remove 'copy' (with counting number) from layer name"
Once there was a plugin which was just doing that but it’s deprecated and I miss it massively!

[2017-12-22 18:06] rodi01 commented on #65
I will take a look on how to achieve this. Thanks for the suggestion.

[2017-12-26 21:25] rodi01 commented on #39
Added history to the last update

[2017-12-26 21:25] #39 closed

[2018-01-12 19:56] #64 closed

[2018-01-13 00:09] fancymans commented on #61
Just wanted to follow up on this issue as I noticed in the .gif you posted that the functionality I described in the original post seems to be shown.

https://github.com/rodi01/RenameIt/blob/master/docs/static/img/gifs/artboard_rename.gif

In this gif, you show using * as a copy of the original layer name. Now I'm still not sure if it's just a copy of the original layer/artboard name or if it has

[2018-01-13 01:39] rodi01 commented on #61
@fancymans I forgot to update the gif to be %* instead of *. The wildcard just copy the current layer name. I will be adding more layer properties in the future.

[2018-01-17 23:46] jbossiere opened #66 "Feature Request: Find and replace Artboard names"
It would be great to be able to target specific words in an artboard name and find and replace those. For example if I have a few artboards with names like

`Button / Active / Blue` `Button / Inactive / Blue` `Tile / Active` `Tile / Inactive`

and I wanted to go through, find all of the artboards with "Active" in the name and then replace them with "Banana" they would turn out like

`Button / Bana

[2018-01-19 10:26] mischugo opened #67 "Feature request - individual selection"
Hi,
How about replacing only one particular string of the selected layers / artboards ?
(replacing "-" or "dolor")
For example:
Lorem ipsum - dolor site
Lorem panemus - dolor site
Lorem - dolor sit

Thanks

Maik

[2018-01-23 18:46] rodi01 commented on #67
@mischugo I don't know if I understand this correctly. Wouldn't the "Find & Replace Layers Names" feature work for this?

[2018-01-23 18:48] rodi01 commented on #66
@jbossiere right now this can be done by selecting the artboards that you want to find and replace.
I think an artboard toggle in the find and replace UI world be helpful. I will add it to the backlog.
Thanks for the suggestion.

[2018-01-24 16:40] mischugo commented on #67
I am so sorry, yes this works fine for me

Thanks

[2018-01-25 17:09] rodi01 commented on #67
No worries. Cheers!

[2018-01-25 17:09] #67 closed

[2018-01-31 18:44] najiglass opened #68 ""Find & Replace layer names" opens blank window"
When I select artboards and choose the Find & Replace option, it takes a while to open, and I then see a blank window.
Version 3.7.0. Tried reinstalling as well, no lock.
Works well on my other Macbook, but not on this one. They both have High Sierra and the same Sketch version.

<img width="524" alt="screen shot 2018-01-31 at 10 41 20 am" src="https://user-images.githubusercontent.com/12573714/35

[2018-01-31 18:52] rodi01 commented on #68
@najiglass Sorry about that 😞
Could you take a look on the console for anything error? I've never seen this before.
/Applications/Utilities/Console.app

it should be under report

![screen shot 2018-01-31 at 10 50 14 am](https://user-images.githubusercontent.com/52461/35641318-b606ea76-0674-11e8-9c6b-fc06cbf6034d.png)

[2018-02-02 02:12] chenkes commented on #68
Same error for me...

Reporting: "No WebView present. Event cannot be posted to the web UI.
 «Plugin Output»" in Console, Output...

Currently using Sketch 48.2

[2018-02-02 03:23] rodi01 commented on #68
@chenkes I will take a look.

[2018-02-03 00:25] najiglass commented on #68
I get all of this if I filter on "Sketch", at the moment I open the Find & Replace.

default	16:23:11.984200 -0800	Sketch	Task <2F1A61DF-DAF1-4F94-8C60-D092D0ED4ADA>.<941> now using Connection 271
default	16:23:11.984327 -0800	Sketch	Task <2F1A61DF-DAF1-4F94-8C60-D092D0ED4ADA>.<941> sent request, body N
default	16:23:11.984934 -0800	Sketch	Task <2F1A61DF-DAF1-4F94-8C60-D092D0ED4ADA>.<941> received

[2018-02-03 01:24] rodi01 commented on #68
Thanks @najiglass. I'll take a look on it this weekend.

[2018-02-05 14:20] mkabelis opened #69 "Rename it only renames the layers on the layer panel, not the text on the artnboard"
Select: layers you want to rename
Select: Find and replace layers names
Find: "pix"
Replace: "px"

Selected radio "selected layers"

Rename it ONLY changes the layers name from "pic" to "px" in the layer panel, text fields in artboard remain as "pix" - not renamed.

Rename it  used to change both.

[2018-02-05 17:31] rodi01 commented on #69
@mkabelis The plugin has never changed the actual content of a layer, it only changes the layer's name. This is something that I'm considering for future updates.

If you are looking to find and replace text, take a look on this plugin: https://github.com/thierryc/Sketch-Find-And-Replace

Cheers

[2018-02-06 10:01] mkabelis commented on #69
Ha, you are absolutely right,
Thank you for taking the time to reply.
My apologies, I got the two plugs confused!

[2018-02-06 16:16] rodi01 commented on #69
No problem. Let me know if you have any other questions.

[2018-02-06 16:16] #69 closed

[2018-02-11 14:36] tijmenvangurp commented on #55
The workaround that I now use a plugin called select similar layers. Then I select layers per class type (folders) and after that, I run the rename it plugin.

[2018-02-14 18:40] Nicolas-th opened #70 "Replace shortcut"
Hi, is it possible to replace to shortcut that runs the plugin? I'm using a plugin that already uses control + cmd + R as a shortcut so I can't use RenameIt with shortcuts..

[2018-02-14 18:53] rodi01 commented on #70
I use a plugin called Monster to manage all the plugin shortcuts. I think it will help you re-asign shortcuts. https://github.com/PeachScript/sketch-plugin-monster

[2018-02-20 21:36] clecompte opened #71 "Small issue with number iterator"
First off, thank you for this plugin. I used to manually retitle my artboards, so this is saving me a ton of time.

I kept running into an issue where my first nine artboards would be titled 1, 2, 3... so on. Then 10, 11, 12, etc would hit. Given that I sync this with Invision, I need the first nine artboards to be padded with 0. So, obviously: 01, 02, 03, 04, 05, 06, 07, 08, 09, 10. You get the p

[2018-02-20 23:47] rodi01 commented on #71
@clecompte Have you tried using %NN for the padding? The amount of "N" will determine the padding.

[2018-02-21 00:25] clecompte commented on #71
Haha, well that's an easy solution. Yep, that's the answer to my problem. Thanks!

[2018-02-21 00:25] #71 closed

[2018-02-21 01:36] rodi01 commented on #71
@clecompte I'm glad it helped. Cheers!

[2018-02-24 01:00] najiglass commented on #68
@rodi01 Any updates? Any alternatives that you know of in the meantime? Thanks!

[2018-02-24 02:06] rodi01 commented on #68
@najiglass Can you try the latest update?
I've changed a couple of things but I don't think it has fixed your issue. It's hard to fix it since I can't reproduce it on my end, I'm trying to get help on this from other plugin developers.
Sorry for the delay.

[2018-02-24 19:30] najiglass commented on #68
Thanks! Unfortunately no, still doesn’t work with the new update.

[2018-02-28 04:52] rodi01 commented on #68
@najiglass if I send you a debug version of the plugin could you take a screenshot of the inspector and send it to me?

Sorry for the hassle but I can’t find a way to reproduce it.

[2018-02-28 16:52] najiglass commented on #68
Yes for sure!

Andrey

[2018-03-04 22:07] rodi01 commented on #68
Sorry for the delay @najiglass, it's been a busy week.

Here is the debug version: [https://cl.ly/pwZZ](https://cl.ly/pwZZ)
Could you please download and install the plugin?

Once you've done that, run the find and replace command, you will see the empty screen.

Right click anywhere on the screen and you should see a menu:
<img width="178" alt="inspect" src="https://user-images.githubusercontent.

[2018-03-06 01:23] najiglass commented on #68
Thanks! Unfortunately Chrome won't let me download that file, it's blocked
as being dangerous.

Would you know why?

On Sun, Mar 4, 2018 at 2:07 PM, Rodrigo Soares <notifications@github.com>
wrote:

[2018-03-06 02:19] rodi01 commented on #68
@najiglass this is so strange. I wonder if chrome doesn't like cloud app links. I re-uploaded it to dropbox here is the link: https://www.dropbox.com/s/rufuigtvaj7gzwn/Rename-It.sketchplugin.zip?dl=0

[2018-03-07 18:54] giuseppebergman commented on #68
Hey,
Same bug here, with Sketch 48.2 and plugin v3.7.2.
Here's the screenshot (in two pieces) made with your debug version as suggested to najiglass:
![capture d ecran 2018-03-07 a 19h52 45](https://user-images.githubusercontent.com/11982783/37111862-2748c87a-2241-11e8-8626-dd2c67de4d70.png)
<img width="1057" alt="capture d ecran 2018-03-07 a 19h53 42" src="https://user-images.githubusercontent.co

[2018-03-07 20:32] rodi01 commented on #68
Thanks @giuseppebergman! This is really helpful.

When you launch the find and replace, did you hav any later selected?

[2018-03-07 20:38] giuseppebergman commented on #68
Sure, I've tried first with more than a dozen layers selected, then just three (when I captured the log), for the same result.
I should add that there's an idle delay (several seconds) before the blank window displays.

[2018-03-10 17:07] rodi01 opened #72 "Name case removes slashes"
"Test /" becomes "Test"

[2018-03-10 17:25] #70 closed

[2018-03-10 19:39] rodi01 commented on #68
@giuseppebergman can you try this build?
https://www.dropbox.com/s/x8f9i4xo9kgqxds/Rename-It-find-rename.sketchplugin.zip?dl=0

If it doesn't work, can you do the same and send me the screenshot of the console.

Thanks! Apologies for the back and forth 😔

[2018-03-12 21:40] giuseppebergman commented on #68
Here it is, no problem. Thank you for looking into it!
The bug's still there, though there are less lines in the console, so I guess it's a progress :)

![Uploading Capture d’écran 2018-03-12 à 22h37'40.png…]()

[2018-03-13 00:31] rodi01 commented on #68
@giuseppebergman thanks again!

On the console window, could you run this command "window.data"?
Like this:
![screen shot 2018-03-12 at 5 28 06 pm](https://user-images.githubusercontent.com/52461/37316209-0c02ba8e-261b-11e8-8c63-546fb61e0385.png)

Hopefully you will get something like this:
![screen shot 2018-03-12 at 5 28 13 pm](https://user-images.githubusercontent.com/52461/37316220-1e4ca538-26

[2018-03-15 20:28] seehadley opened #73 "plus not working?"
I saw that there was a recent fix, but it is still not working for me. The + character is not pulling in the current name of the layer. I have Sketch 49.1 and the latest RenameIt (3.7.2).

Thanks!

[2018-03-15 22:02] rodi01 commented on #73
Sorry for that. I had to remove the plus because it was causing conflicts. If you use %* it should do the same thing.

[2018-03-15 22:13] seehadley commented on #73
Ah, got it. Thanks for the workaround.

[2018-03-16 22:25] #73 closed

[2018-03-20 18:53] #72 closed

[2018-03-21 17:16] giuseppebergman commented on #68
Hey,

Sorry for being silent so long, I was way too busy these last days.
I don't see "inspect element" anymore when I click on the blank window. I'll try with v3.7.3. and report here.

[2018-03-21 17:19] giuseppebergman commented on #68
Okay, so there's no dropdown menu displaying anymore when right-clicking in the blank window, with Sketch 49.1 & plugin 3.7.3…

[2018-03-21 18:08] rodi01 commented on #68
@giuseppebergman yeah, sketch changed to access the inspect element. Here is a thread on how to get that back: http://sketchplugins.com/d/665-sketch-49-webview-cannot-be-inspected-element-by-right-click
Basically, you have to enable the flag in sketch with in the command line like this
`defaults write com.bohemiancoding.sketch3 WebKitDeveloperExtras -bool true`

[2018-03-21 18:10] rodi01 commented on #68
@giuseppebergman you will still need the dev version of the plugin. This one should still work
https://www.dropbox.com/s/x8f9i4xo9kgqxds/Rename-It-find-rename.sketchplugin.zip?dl=0

[2018-03-21 18:32] rodi01 commented on #68
😪 Let me see what else I can do, I will keep trying. Thanks for the info.

[2018-03-21 22:00] giuseppebergman commented on #68
You're welcome, thanks for trying!

[2018-03-26 06:51] Raghav789 opened #74 "simpler menu options"
First of all, Thank you for this amazing plug-in
right now 'Rename selected layers' and 'Rename selected artboards' both almost do the same thing If I select artboards and chose 'Rename selected layers' it works! (if try to do the opposite it won't work)
same can be said for the 'find and replace the layer' it will also work with selected artboards.

the way I see it there need to be only two opti

[2018-03-28 21:12] giuseppebergman commented on #68
Update: the Find&replace works in some files, and doesn't in others, with same versions of Sketch and plugin!
How can I help you find why (sadly I can't share the mentioned files due to NDA clause)?

Giu_

[2018-03-28 21:17] rodi01 commented on #68
@giuseppebergman That's interesting. Does it work on a brand new file with just a couple of rectangles?

[2018-03-28 21:25] rodi01 commented on #74
Thanks for the suggestion @Raghav789.

The "Rename selected artboards" works in a different way. It will always select the artboard of the selection. If you have a layer selected, it will look for its artboard.

This was a very popular feature request, before that I only had the "rename selected layers" menu that behaved the same way as it is today. That's why I didn't remove the ability to rename

[2018-03-29 15:12] JasonLang commented on #68
HI! I'm seeing a similar issue for "Rename Selected Artboards".

When I select arboards and then run the plugin, I end up in a state with a blank screen. First, I type "10" then "%" and then "n". The window goes blank when entering "n". See the three screens attached.

![screen shot 2018-03-29 at 11 09 56 am](https://user-images.githubusercontent.com/1686110/38096896-016cb9b0-3342-11e8-8eda-cae2b4

[2018-03-29 16:00] rodi01 commented on #68
@JasonLang huh! Sorry about that 😟
Does that happen to any file?

[2018-03-30 09:55] Raghav789 commented on #74
Thank you for considering it
I think the reason behind  "Rename selected artboards"  being very popular request was that, back then the only way to select an artboard was to zoom in and click on each individual artboard names while holding SHIFT. Zooming out clicking and dragging would only select the layer, not artboard. However, sketch fixed that issue now.
I wouldn't dismiss the usefulness of t

[2018-03-31 09:38] giuseppebergman commented on #68
Yes, it works fine.

[2018-04-13 20:40] rodi01 commented on #68
Just a heads up that I haven't forgotten about this issue, guys. It's been a very busy month at work and I haven't had time to look at this.
In regards to the bug, any of you using any custom plugin that changes the default layer behavior?

[2018-04-25 16:37] Arroyodorado commented on #63
+1 Would love this option too.
But until then, the mentioned plugin is a good solution.

[2018-04-26 15:36] spania85 opened #75 "Plugin window not opening in sketch 49.3 (running rename-it 3.8.0)"
Hi guys, pretty much the title, on version 49.3 the plugin doesn't even load (I click on the plugin and the usually pop-up never opens), tried calling it from the plugins menu and from Runner, tried uninstalling and re-installing the plugin. Using version 3.8.0
On version 49.2 works fine though.
Thank you!

[2018-04-26 21:37] rodi01 commented on #75
I will take a look on that. Have you tried  restarting sketch?

[2018-04-26 23:58] rodi01 commented on #75
@spania85 is there any chance you could look at the log files for me?
/Applications/Utilities/Console.app

it should be under report

![console](https://user-images.githubusercontent.com/52461/35641318-b606ea76-0674-11e8-9c6b-fc06cbf6034d.png)

[2018-04-27 06:11] rodi01 commented on #75
Update to the latest 3.8.1 and give it a try.

[2018-04-27 10:54] vaernim commented on #75
Hello there,

I'm having the same loading issue as @spania85 (Sketch 49.3), even with the 3.8.1 version.
Here's my log file.
[Plugin Output.log](https://github.com/rodi01/RenameIt/files/1954815/Plugin.Output.log)

[2018-04-27 20:09] chinovian opened #76 "Sketch indicating that a v3.8.2 available"

[2018-04-27 21:46] rodi01 commented on #76
My bad. I'm trying to revert some of the plugin changes. The 3.8.7 should be working.

[2018-04-27 21:47] rodi01 commented on #75
Please update to the latest version, I reverted back to an old version. I will try to fix this issue in the meantime.

[2018-04-27 23:25] rodi01 opened #77 "Autocomplete for %"
Provides a list of option when "%" is typed.

[2018-04-27 23:25] #76 closed

[2018-04-30 08:07] vaernim commented on #75
El Capitan (10.11.6).
I've just updated the plugin and it works perfectly (layer, artboard and find & replace options).
Thank you!

[2018-05-01 18:29] joshuarrr commented on #26
I somehow had two versions of Rename It installed, and the old one was taking precedence. I deleted it and now see these features. Just in case anyone else is similarly perplexed.

[2018-05-01 21:59] rodi01 commented on #26
@joshuarrr huh! Which version are you running?

[2018-05-01 22:08] joshuarrr commented on #26
I'm up to date on 3.8.7 now; version 2 was stuck in service.

[2018-05-01 22:35] #75 closed

[2018-05-11 04:56] mischugo opened #78 "Feature Request"
Hello,
i have about 240 text strings, distributed over several drop downs.
Like this

lorem ipsum (2.409)
Pand con vice merida (13.492)
...

I would like to select them all to delete only the "space and (...) part of each string.
I am sure, RenameIt will be the only one plug in that could do it, right ;-)

Thanks a lot

[2018-05-11 21:49] rodi01 commented on #78
@mischugo Unfortunately, RenameIt only works for changing the layer's name. When I need text to be replaced, I use this plugin https://github.com/thierryc/Sketch-Find-And-Replace

[2018-05-14 23:37] dwinurhadia opened #79 "Shortcut Control + Command + R not working for Sketch 49.3"
Shortcut Control  + Command + R not working for Sketch 49.3

[2018-05-14 23:37] dwinurhadia commented on #79
We used Mac Sierra 10.12.6

[2018-05-20 10:31] GabrielAtanasov opened #80 "Feature request: %o - opacity layer"
Hi,
When I start a project I define my colors. For base colors like Black & White, I defined it with different opacity. (ex. black-100, black-90, black-80, .... black-10). Now with the plugin, I can rename it to "black-" and by hand add opacity value. It will be so cool if I can set name to "black-%o".

[2018-05-22 22:55] rodi01 commented on #79
@dwinurhadia Sorry for the long wait on this. The issue is that you probably have another plugin overwriting the shortcut. I use this plugin, https://github.com/PeachScript/sketch-plugin-monster, to manage the shortcuts. It will also tell you if there is any duplicates

[2018-06-03 00:51] dwinurhadia commented on #79
Dear Sir,
Thank you for informations

[2018-06-06 12:30] triick17 opened #81 "Feature Request: Add Artboard Shortcut"
It would be very helpful if you could provide the artboard name as keyword. This would be helpful with nested symbols: e.g. Tint-Symbols wihtin icons.

[2018-06-06 18:46] rodi01 commented on #81
That's a great idea. I will add to the backlog.

[2018-06-06 18:46] #79 closed

[2018-06-21 11:18] nicolocampagna commented on #68
Hi @rodi01 ,

i have exactly the same problem :(

![screen shot 2018-06-21 at 13 14 20](https://user-images.githubusercontent.com/40461430/41715867-097456cc-7555-11e8-8166-a542efd0ef5e.png)

I've even installed the version released in your last comment and nothing, doesn't work :( :( :(

HELP MEEEEeeee!!!
Thanks :)

[2018-06-21 15:51] timparker commented on #68
I have the same issue :'( this plugin looks like a godsend if this get's fixed 🙏🏻

[2018-06-21 16:31] timparker commented on #68
I noticed when you're renaming instances of symbols in other documents, it work's fine - but renaming the actual symbols in the main symbols page loads the empty popup.

[2018-06-21 18:11] rodi01 commented on #68
@timparker @nicolocampagna can you guys try this version: https://www.dropbox.com/s/e902wq1njstwe60/Rename-It-webview.zip?dl=1

FIY: This won't work if your Mac OS version is El Captain or lower.

[2018-06-29 11:47] jonmh85 opened #82 "Feature request: Rename layer to layer style name"
Would be good to be able to rename all layers with a layer style applied to the name of the layer style. This would be useful when handing designs to developers.

[2018-07-17 20:36] scarysnow opened #83 "Crashes Sketch 51.1 after use"
Getting consistent crashes with Sketch 51.1 right after batch renaming a group of layers with the plugin. Seems to happen at random intervals. Have disabled other plugins, and issue still occurs.

[2018-07-17 22:23] rodi01 commented on #83
@scarysnow Could you send me the log?
Open the console app under reports go to:
~/Library/Logs/com.bohemiancoding.sketch3
<img width="1350" alt="screen shot 2018-07-17 at 3 22 17 pm" src="https://user-images.githubusercontent.com/52461/42848674-44f28f4a-89d5-11e8-80bb-77968cd88535.png">

[2018-07-18 21:15] rodi01 commented on #83
Does it happen when the rename it window shows up or after you press the rename button?

[2018-07-20 14:52] scarysnow commented on #83
I'm closing this. Haven't experienced the crash in a few days after heavy use and a fresh reinstall. Will follow up if the issue reoccurs. Greatly appreciate the plugin, it's a huge part of a particular workflow of mine.

[2018-07-20 14:52] #83 closed

[2018-07-23 18:16] #49 closed

[2018-07-24 15:38] rodi01 opened #84 "Custom keyword buttons"
The ability to create custom keywords buttons for easy access.

Some questions:
Should the user have the ability to move them around?
Should the user be able to hide the default buttons?
Should they live in the same area as the current buttons?

[2018-07-26 10:59] innatan opened #86 "Latest release not working"
Can't rename my layers with the latest RenameIt release :(

[2018-07-26 14:22] filippaskotsis commented on #86
Second this. It was working great until the latest release.

[2018-07-26 15:32] rodi01 commented on #86
Sorry about that guys, I’m taking a look on this.

You can download the previous version here https://github.com/rodi01/RenameIt/releases/download/v3.8.7/Rename-It.sketchplugin.zip

Just don’t update to the lastest. I will let you guys know once it’s fixed.

[2018-07-26 15:45] everydayslang commented on #86
Thanks for posting a link to the old one ✌️

[2018-07-26 15:45] rodi01 commented on #86
Could you take a look on the console for any error?
/Applications/Utilities/Console.app

it should be under report
![](https://user-images.githubusercontent.com/52461/35641318-b606ea76-0674-11e8-9c6b-fc06cbf6034d.png)

[2018-07-26 15:50] everydayslang commented on #86
I’m not showing anything in there. 🤷‍♂️

[2018-07-26 16:03] rodi01 commented on #86
Can you guys try to update to 3.9.1? I just reverted it back, until I have more time to look into this.

Sorry for messing up everyone's workflow 😥

[2018-07-26 18:18] everydayslang commented on #86
I only see up to 3.9.0 on the releases tab.

[2018-07-26 18:33] everydayslang commented on #86
Yup, Thanks. Just needed to restart. 😉

[2018-07-28 05:58] rodi01 commented on #86
I wonder if one of you guys can test a version for me, since I can't reproduce the issue.

Here is the version: https://www.dropbox.com/s/dl/hryf4uygq6m765e/Rename-It-webview-update.sketchplugin.zip

Thanks in advance.

[2018-07-28 11:54] teolemon opened #87 "Detect language of artboard"
- Use a text language detection library to offer suggestions to rename the boards
eg: if detects French, will offer _fr

[2018-07-28 13:51] innatan commented on #86
This works flawlessly!

[2018-07-30 14:38] everydayslang commented on #86
Yup, looks good to me!

[2018-07-30 14:47] filippaskotsis commented on #86
Works great now!

[2018-07-30 16:21] rodi01 commented on #86
@filippaskotsis @everydayslang I'm assuming you guys re talking about the test version that I posted above, right?

[2018-07-30 16:35] filippaskotsis commented on #86
@rodi01 yes, no issue at all, either with the test version you posted or with the 3.9.2 update that was pushed earlier

[2018-07-30 16:39] everydayslang commented on #86
Yeah 3.9.3

[2018-07-31 02:47] rodi01 commented on #86
Can you guys try out the lastest version, 3.9.4, when you have a chance?

Thanks

[2018-08-02 03:51] toasty1435 commented on #86
For some reason when using the asterisk I can’t get the rename to use the existing layer name, it just replaces the existing name with an asterisk. Anyone else have this issue?

[2018-08-02 03:52] toasty1435 opened #88 "Asterisk Issue"
On 51.2 for some reason when using the asterisk I can’t get the rename to use the existing layer name, it just replaces the existing name with an asterisk. Anyone else have this issue?

[2018-08-02 15:18] jeffdingwell opened #89 "Crashing when renaming a slice...."
I'm running Sketch V 51.2.

If I try to rename a slice using your plugin, Sketch immediately crashes. When I restart, all plugins have been disabled.

Below is the sample file that causes my app to crash as well as a screen shot of the other plugins I'm running in case you know of a conflict:

![image](https://user-images.githubusercontent.com/2708782/43593453-c1a5bb3a-9645-11e8-81f6-b1058e2f1dfd.

[2018-08-02 15:39] rodi01 commented on #88
I just tried and it's working for me. Are you using %*? It was changed a few versions back to %* instead of only *

[2018-08-02 15:44] rodi01 commented on #89
Sorry about that, I'm looking into this.
In regards to disabling all the plugins, that's a new feature on Sketch were if there is a crash they re-start in "safe mode". You just have to re-open sketch again

[2018-08-02 15:49] toasty1435 commented on #88
Ah, that might be it, I'll try when I go home tonight. Just learning the program so total noob here :)

Thanks for the quick response!

[2018-08-02 16:30] jeffdingwell commented on #89
All good. Love your plugin, thank you for making it!

Jeff Dingwell
H:   (514) 495-1431
M:  (514) 714-9555

[2018-08-02 16:51] rodi01 commented on #89
@jeffsingwell FIY, I editEd your comment to remove your phone number. GitHub includes the email signature when replying via email, I’ve done the same thing in the past. 😝

[2018-08-02 16:53] jeffdingwell commented on #89
Wow, thanks! I don’t really ever use Git, I thought this was a private email back to you. ☺

Jeff

From: Rodrigo Soares <notifications@github.com>
Reply-To: rodi01/RenameIt <reply@reply.github.com>
Date: Thursday, August 2, 2018 at 12:51 PM
To: rodi01/RenameIt <RenameIt@noreply.github.com>
Cc: Jeff Dingwell <jeff@bolddesign.ca>, Author <author@noreply.github.com>
Subject: Re: [rodi01/RenameIt] Cra

[2018-08-03 04:14] #86 closed

[2018-08-06 11:29] josefrichter commented on #60
Any thoughts on this @rodi01 ? In general, this is about _removing_ part of the original name. But I understand you probably don't want to overcomplicate the plugin.

The above use case mentioned by @fbmore is actually the most common I run into as well - wanting to remove first part or all parts of "path" in symbol name, i.e. turning the above into `"Buttons / Primary Button - Active"` or `"Prima

[2018-08-08 10:40] philipamour opened #90 "Find and Replace Across Entire Document"
Recently separated master sketch spec from components and used a different plugin to replace symbols on master sketch spec with instances from sketch library. All worked great but now all symbols have their component name. I have to go through every single page (100+) and run rename it to find and replace stuff on each page. Would it be possible to add feature to find and rename across the entire

[2018-08-09 09:58] philipamour commented on #90
Update - my colleague changed something up so that the plugin can rename stuff across the entire document. He doesn't have a Mac so he sent a diff for utils.js. When I try to run npm build (even tho I installed skpm successfully), I get this error:

[code]

[2018-08-09 14:27] rodi01 commented on #90
Were you able to build the project?

[2018-08-09 15:05] philipamour commented on #90
Oh, hi. I thought I removed the comment quickly enough. 😂 Just had to sort out how I install global npm packages and update node/npm. Also embarrassingly forgot to run npm install. 🙈 I'm just a designer, man. My colleague managed to get it to work, loading of 'find and replace' takes a bit but quicker than going through many pages manually and running 'find and replace' every single time. Renamed

[2018-08-09 17:39] rodi01 commented on #90
I'm a designer too and I also struggle with this whole dev stuff 😂. I'm glad you were able to get it work!

Like I said on my previous comment, my biggest concern is the performance. If you don't mind sharing the code with me,  it would be nice. If you don't want to create a pull request, you can just share the code here or you can also email me oncemade@gmail.com

[2018-08-09 21:25] josefrichter commented on #60
@rodi01 I am actually not using the find & replace feature. but maybe just for renaming. and maybe it should be a separate function. but to be honest, there are some other plugins doing the same, e.g. https://github.com/littlebusters/Regexp-Rename and https://github.com/leonardpauli/layer-renamer - so maybe no need to reinvent the wheel. or just copy the code from there or merge the projects - aft

[2018-08-12 22:12] richardsison commented on #82
I'd actually like the exact same thing but with Text Styles.

@rodi01 should I create a new Feature Request? Or is it similar enough?

[2018-08-13 19:00] rodi01 commented on #82
@richardsison I think it's similar enough, I will see what's involved to get this done.
What do you think it should happen if a selected layer doesn't have a text style? Should it be blank or not rename at all?

[2018-08-14 00:57] richardsison commented on #82
@rodi01 Good one. If there isn't a text style, maybe it skips the renaming by default. It might be a good idea to have a checkbox to change to a user-defined name (i.e. Unnamed Text Style).

In a lot of cases I wouldn't want ALL text layers renamed, so having some control here is important. But if I'm trying to quickly isolate my styled from unstyled, that'd be helpful too. As long as I can make i

[2018-08-14 18:11] rodi01 commented on #82
I think the safest way will be by selection. If the selection doesn't have a style, just skip it.

In regards to edited text style, I really don't know. I need to dig into the text and layer styles, I've never looked at the API for that

[2018-08-29 13:52] chsWeb opened #92 "Stopped Working in Sketch 48.2"
**Sketch Version:** 48.2

**Rename It Version:** 3.9.6-2

**Problem:**
Selecting layers, and attempting to use the Find and Replace feature of Rename It results in no action being taken - the Rename It UI does not appear.

Nothing in the Rename It plugin is responsive, including Settings.

[2018-08-29 14:43] rodi01 commented on #92
The plugin version 3.8.7 is the last one that works on Sketch <51. Sketch was supposed to do it automatically. Here is the link https://github.com/rodi01/RenameIt/releases/download/v3.8.7/Rename-It.sketchplugin.zip

[2018-09-11 19:24] jgaylor opened #93 "Lowercase alphabet sequence busted"
Lowercase alphabet sequence '%a' is renaming my layer to 'a' rather than using the layer name and turning it into lowercase. I'm on 51.3. I've reinstalled the latest plugin.

[2018-09-11 19:28] jgaylor commented on #93
Nevermind i'm an idiot

[2018-09-11 19:28] #93 closed

[2018-09-11 19:40] rodi01 commented on #93
No worries, I’m happy you could figure it out. There is almost no documentation on this you are not the first one to get confused with it.

[2018-09-11 21:00] #92 closed

[2018-09-11 21:01] #88 closed

[2018-09-11 21:08] rodi01 opened #94 "Disable rename button"
Disable rename button when input is empty or start from is not number

[2018-09-11 21:09] rodi01 opened #95 "Double preview height"

[2018-09-11 21:14] rodi01 opened #96 "Insert keyword at cursor position"
Right now the keyword is added to the end of the input

[2018-09-25 04:56] HopHopBrand opened #97 "Alphabetical order is in reverse"
Layers are being renamed in reverse order
https://i.imgur.com/KoT0AAH.png

I'd like it to be in this order: ABCDEFGH not HGFEDCBA

[2018-10-04 06:15] chris-mrtn opened #98 "Tab to switch fields in Find and Replace"
Currently it requires the mouse to select the first field, then again to select the replace field. Ideally the first field is already selected, and tab would switch to the replace field.

[2018-10-05 01:05] rodi01 commented on #98
Which version are you on? I can't reproduce it on Sketch 52.1

[2018-10-05 01:59] chris-mrtn commented on #98
I'm on 52 (66869)

[2018-10-05 03:34] rodi01 commented on #98
I just tried on 52, still can't reproduce it. Which MacOS are you running? I'm tying to figure it out how to debug this.

[2018-10-05 03:39] rodi01 commented on #97
The order is actually right, Sketch reads layers from the bottom to the top of the Layer List. I think I need to add a way to reverse the order as an option.

[2018-10-06 06:54] HopHopBrand commented on #97
@rodi01 That would be great! Im using https://github.com/bomberstudios/artboard-manager to keep the layer organized but it organizes it in this way.

Thanks!!!

[2018-10-11 20:52] chsWeb commented on #92
Thank you for the link, I was REALLY missing this plugin. Just saved me several hours in my old, rusty, Sketch 48 file :)

[2018-10-16 14:40] glynnis opened #99 "Feature request: Add converter for kebab case and remove special characters"
I'm a designer working with developers who prefer file names of exported assets in kebab case, with any special characters removed.

For example, I would like a converter that changes a file name like `Bath icon (yes)@2x.png` to `bath-icon-yes@2x.png`. So it would:
1. lowercase everything
1. replace spaces with `-`
1. strip any special characters like `()!@#$%^&*+=` etc.

Perhaps kebab case (items

[2018-10-16 14:43] glynnis opened #100 "Scope find and replace to assets marked for export only"
It'd be awesome if you could specifically target find and replace/renaming to assets/layers/artboards that are marked for export. This way you can specifically target renaming assets that will be for developer use.

[2018-10-16 15:11] rodi01 commented on #99
I can easily manipulate the text to lowercase and replace spaces with `-`. Removing special characters is doable but in your example, you have the @ symbol and that would be removed too (Bath icon (yes)@2x.png to bath-icon-yes2x.png)

I think the best way would be separating them like you suggested. The first case shouldn't take me too long to do it. The second one is a bit more complicated.

[2018-10-16 15:13] rodi01 commented on #100
I have to look more into that, I don't know if Sketch provides "marked  for export" layers on their apis.

[2018-10-16 15:18] glynnis commented on #99
Ah, good point re: `@`.

I'd argue that the `@` should actually be the one special character preserved since it's used for pixel density suffixes like `@2x`.

The characters I'm most concerned with removing are `()` since they're used by Sketch for nested symbols, but don't make friendly file names for development.

[2018-10-17 05:34] innatan opened #101 "Plugin not working with Sketch 52"

[2018-10-17 14:13] rodi01 commented on #101
It works for me, do you have another plugin with the same shortcut?
I've had the same issue in the past and that was the case. I use this plugin, https://github.com/PeachScript/sketch-plugin-monster/, to manage my shortcuts. It also helps you find duplicated keyboard shortcuts

[2018-10-20 21:28] #98 closed

[2018-11-20 14:16] inessashillo commented on #101
It's not working for me too in 52.4 version. But it used to work earlier. Unfortunately I can't even install it now.

[2018-11-20 14:29] inessashillo opened #102 "Feature Request - Starts Numbering from 00"
Hi! Thank you for the awesome plugin! It would be even more lovely if the numbering can start from 00 and the proceed to 10.

![image](https://user-images.githubusercontent.com/29578643/48779939-be5b7500-ece9-11e8-96e5-ad5309a92cf3.png)

Will be very much appreciated!

[2018-11-20 14:31] inessashillo opened #103 "Feature Request - Sort Artboards by Row or Column"
Hi again, I also thoght of a feature when the plugin can understand that I want to name it in row or column order, not by the position in the layer tab (I never maintain a correct order in there).

Thank you for your product anyway!

[2018-11-20 15:31] rodi01 commented on #102
You should be able to do this right now. Try this: `%NN`

The number of “n” will dictate the number of zeros.

[2018-11-20 15:35] rodi01 commented on #103
This is a hard one. It’s requires a much bigger rewrite and rethinking of the plugin. I think it’s a great feature that I want to try to add in one day, thanks for suggesting it.

[2018-12-14 01:08] cecileboucheron opened #104 "Feature request - rename layers with symbol name"
I use the Symbols dropdown in the right pane a lot to switch the Symbol source of a given instance. That means I end up with layers that no longer have accurate names (as picking another Symbol for a given instance does not update the instance layer name). I'd love to have the option to reset the name of the layer to the name of its symbol. Hope that makes sense.

[2019-01-09 16:56] redg1402 opened #105 "Rename it doesn't load for me."
I've installed rename it, but when am triggering it from the plugin section in sketch it doesn't make anything... i've installed it 3 times and still not working. Tried loading it from sketch runner shortcut but the same still happening. Even the settings are unreachable, doesn't work.

here my computer specs
![image](https://user-images.githubusercontent.com/46534905/50914581-e2dbef80-1404-11e9-8

[2019-01-10 03:49] rodi01 commented on #105
Can you try installing this version? https://www.dropbox.com/s/6gnm1gl512jsb8c/Rename-It.sketchplugin.zip?dl=1

Make sure you delete the old version.

[2019-01-17 19:34] #95 closed

[2019-01-17 19:34] #97 closed

[2019-01-17 19:36] #102 closed

[2019-01-17 19:37] #105 closed

[2019-01-17 21:56] everydayslang opened #106 "4.0.0 Breaks styles"
<img width="504" alt="screen shot 2019-01-17 at 4 55 24 pm" src="https://user-images.githubusercontent.com/11896980/51351362-b5ccb400-1a78-11e9-9634-a1e2584da211.png">

[2019-01-17 23:49] rodi01 commented on #106
Huh! Did you try relaunching sketch? Which OS are you on?

[2019-01-18 00:01] everydayslang commented on #106
I restarted and am pleasantly surprise by this new interface 😁
<img width="504" alt="screen shot 2019-01-17 at 7 00 54 pm" src="https://user-images.githubusercontent.com/11896980/51356859-3942d100-1a8a-11e9-95c8-fe687fa0fd2d.png">
 Thanks

[2019-01-18 00:41] rodi01 commented on #106
Perfect!

[2019-01-18 00:41] #106 closed

[2019-01-18 20:57] sonburn opened #107 "Missing Stylesheet?"
The stylesheet appears to missing or not loading properly in the latest update (v4.0.0), and you can only type one value in the field (I assume it's failing due as it's trying to provide examples of the output results down below).

![image](https://user-images.githubusercontent.com/248364/51412440-364eeb80-1b31-11e9-855c-5ccebc7b005e.png)

[2019-01-18 21:46] rodi01 commented on #107
Looks like restarting sketch should fix this. Can you try?

[2019-01-18 22:01] sonburn commented on #107
@rodi01 A restart did resolve the issue, apologies.

[2019-01-18 22:01] #107 closed

[2019-01-18 22:33] rodi01 commented on #107
No worries at all. I think I will have to add a modal to restart sketch but I hate to do that with the user. 😔

[2019-01-20 23:50] richardsison commented on #82
Hi there @rodi01, I swear this feature was introduced already… Has the latest version of RenameIt removed it? I don't do this often, but it's a really helpful tool to rename all text styles to their Layer Style name.

[2019-01-20 23:53] richardsison commented on #82
I may have been mistaken. In the Automate Sketch plugin I found it:

`Automate > Style > Rename Layer to Style Name`.

This would make a lot of sense in RenameIt though honestly! Hope it makes its way in there…

[2019-01-23 19:17] chetTheJet opened #108 "Feature request - Ascending order alpha sequence"
Currently alpha sequence is in descending order

[2019-01-23 19:56] rodi01 commented on #108
Try this `%ar%`

[2019-01-23 21:17] chetTheJet commented on #108
Thanks for the quick response Rodi01. Using that, the names on the artboards still appear in descending order and show dr%, cr%, br%, ar%. Using just %a shows lowercase descending alpha order. Any other suggestions?

[2019-01-23 22:19] rodi01 commented on #108
Do you have the latest version 4.0?

[2019-01-23 22:36] chetTheJet commented on #108
No, I have the previous version because when I updated to the 4.0, the interface styling was all gone and the plugin wouldn't work correctly

[2019-01-23 22:41] chetTheJet commented on #108
Thank you, it worked!

[2019-01-24 00:10] rodi01 commented on #108
Awesome!

[2019-01-24 00:10] #108 closed

[2019-01-26 19:33] sarahfinucane opened #109 "plugin not working since update 4.0"

[2019-01-26 19:34] sarahfinucane commented on #109
running the plugin produces no result since the 4.0 update

[2019-01-26 22:52] rodi01 commented on #109
What’s your sketch version? Have you tried restarting Sketch?

[2019-02-08 21:27] quitefrank commented on #109
Same here. Running Sketch 52.6

[2019-02-08 21:55] rodi01 commented on #109
Could you please check the log and see if there is any error?

Open the console app and under report go to: ~/Library/Logs/com.bohemiancoding.sketch3

You should see something like this, can you send me the output when you try to run the rename command?

<img width="1214" alt="image" src="https://user-images.githubusercontent.com/52461/52508299-fe274f80-2ba8-11e9-8033-db47b9ddb277.png">

Thanks

[2019-02-09 17:59] quitefrank commented on #109
Well, I booted up my computer again today to try and recreate it, but it seems to be working fine now O_o
To give you some context, I had recently restarted from a time machine backup and upgraded from Sketch 48 to 52.6. Though I tried several times to restart the software, or try older versions of renameit, nothing worked. Anyways, now that I've restarted my computer it seems to be working correc

[2019-02-09 22:49] rodi01 commented on #109
@quitefrank phew! Good to hear that 😀

[2019-02-12 01:47] ashthompson001 opened #110 "Feature Request - Add User Keyword Presets"
As a user, I would like to save my own preset keywords. Such as Desktop or Mobile, Module or Component as these are common repeated terms which I use in my workflow. This way I can combine these with the default keywords which are also very useful.

I love this plugin, it's just a shame it doesn't better fit within my workflow.

Thanks
Ash

[2019-02-12 18:39] rodi01 commented on #110
This would be a great feature. I already have it on my backlog, I just need time to work on it. 😔

Thanks for suggesting it.

[2019-02-12 22:34] ashthompson001 commented on #110
Great to hear. Good luck making your way through the backlog. It's an awesome plugin. So much appreciated for the good work and solid build 😎

[2019-03-19 08:06] theboylzh opened #111 "Problem: Wrong Interface after updated to 4.0 in Sketch 52.2"
![Jietu20190319-160503](https://user-images.githubusercontent.com/17682638/54589499-c7bed900-4a60-11e9-80c5-f25a593ba8d4.png)

The wrong interface and I can not input anything in the text filed.

[2019-03-19 15:20] rodi01 commented on #111
Have you tried restarting Sketch?

[2019-03-29 11:05] MrBeardedGuy opened #112 "[FEATURE REQUEST] Rename text overrides"
It'd be awesome to be able to rename text overrides as well.

[2019-03-29 20:44] rodi01 commented on #112
Are you talking about symbol text overrides?

[2019-03-30 08:06] MrBeardedGuy commented on #112
Yes, symbol overrides.

[2019-05-09 13:47] FransSwift opened #113 "Feature request - Rename Layer to the name of applied style."
Rename select layer: Keyword -> Style Name.

This would work perfect with the plugin **Styles Generator**:
https://github.com/lucaorio/sketch-styles-generator

You can select any amount of layers (text, shapes, or both) and generate Shared Styles for all of them, at once. The Shared Styles are named like the layers. Take a look at the usage section to know more about how to use it.

This way it's

[2019-05-10 17:03] #111 closed

[2019-05-10 17:03] #109 closed

[2019-05-13 00:40] #104 closed

[2019-05-13 07:20] polzav opened #114 "Find and Replace crashes"
Find and Replace the screen crashes to white screen in any action.
Sketch 54.1, Plugin version 4.1.1
![image](https://user-images.githubusercontent.com/19476756/57602693-8599ab80-7568-11e9-8ee1-f4d70a30affc.png)

[2019-05-13 09:57] gabsmaster commented on #114
Same, using sketch 54.1 as well and just updated the plugin

[2019-05-13 10:06] cpshanley commented on #114
Confirmed.

[2019-05-13 12:31] mindquest opened #115 "Rename it disappears after typing in it"
I'm using sketch 54.1 .  The text fields disappear when I start to type in them so I can't do any layer updates at all.

[2019-05-13 12:47] vedranzidanik commented on #115
I'm having the same issue.

[2019-05-13 13:22] mindquest commented on #115
I tried restarting still not working....still disappears after typing in text field.  Using macOS High Sierra 10.13.6 (17G6030)

[2019-05-13 13:57] mnizinski79 commented on #115
Same issue - only on find and replace though.

![image](https://user-images.githubusercontent.com/7937959/57627208-8bda5880-7565-11e9-88ae-945435f9b5e0.png)

[2019-05-13 14:35] mindquest commented on #115
I see it on another computer that has not updated Runner yet.  Did you guys update runner?  Just trying to think why it's no longer working.

[2019-05-13 14:38] mindquest commented on #115
no, I reverted runner and it's still not working!!

[2019-05-13 14:38] mnizinski79 commented on #115
Runner has been updated. I think it was updated on Friday.

[2019-05-13 14:40] mindquest commented on #115
![Screen Shot 2019-05-13 at 10 39 49 AM](https://user-images.githubusercontent.com/26074456/57630371-7e27d180-756b-11e9-8912-0653fe61ea85.png)

[2019-05-13 14:47] mindquest commented on #114
where did you get the rollback? it's happing to me as well

[2019-05-13 14:48] vedranzidanik commented on #115
I don't even use Runner, so I think it has nothing to do with it. I'm seeing this issue with last two versions of the plugin. On Find/Replace.

[2019-05-13 15:00] JunkerDominik commented on #115
same problem here!

[2019-05-13 15:09] rodi01 commented on #115
I'm working on a quick fix for now. I will up date soon. My apologies.

[2019-05-13 15:30] rodi01 commented on #114
@mindquest I just rolled it back, can you try to update it.

[2019-05-13 15:31] rodi01 commented on #115
I just rolled it back, can you try to updated it. You might have to restart Sketch.

[2019-05-13 15:38] JunkerDominik commented on #115
Thank you very much!

[2019-05-13 15:57] cpshanley commented on #114
Here. Click on Code and then Releases.

Download 4.1.0

[2019-05-13 16:18] mindquest commented on #115
Works!  Thanks so much for handling this quickly!

[2019-05-13 16:20] mindquest commented on #114
Thanks I think its been rolled back officially works now

On Mon, May 13, 2019 at 11:57 AM cpshanley <notifications@github.com> wrote:

[2019-05-13 16:33] cpshanley commented on #114
Yes, 4.1.2 is working fine.

Kudos for fixing that inside a day.

[2019-05-13 16:42] cheics-d2l opened #116 "Rename Artboards to Title Case doesn't work on symbols with slashes in the name"
Lowercase works as expected:
![image](https://user-images.githubusercontent.com/8430763/57638691-4e34fa00-757c-11e9-86a0-1744a04595ba.png)

Title Case isn't able to process the symbol name:
![image](https://user-images.githubusercontent.com/8430763/57638827-90f6d200-757c-11e9-80a8-2442cd751274.png)

[2019-05-13 21:28] #115 closed

[2019-05-13 21:28] #114 closed

[2019-05-14 09:24] adambruzoncentrica opened #117 "Popup window goes Blank"
When using Find and Replace the popup window goes blank when I begin to type anything...

![May-14-2019 10-23-52](https://user-images.githubusercontent.com/43471890/57686961-72eba900-7632-11e9-9d79-9906fed81066.gif)

[2019-05-14 09:26] adambruzoncentrica commented on #117
Fixed in 4.1.2...
Thank you

[2019-05-14 09:26] #117 closed

[2019-05-14 16:26] #116 closed

[2019-05-14 17:40] cheics-d2l commented on #116
The preview still shows all UPPERCASE instead of Title Case - but thank you so much for the quick fix, saving me a lot of time.

![image](https://user-images.githubusercontent.com/8430763/57719456-ce776000-764d-11e9-80c4-00cb28f33109.png)

[2019-05-14 19:45] rodi01 commented on #116
@cheics-d2l try restarting Sketch. Hopefully it will fix the preview

[2019-05-14 20:13] #68 closed

[2019-05-14 20:15] rodi01 commented on #113
Duplicate of #82

[2019-05-14 20:16] #74 closed

[2019-05-15 10:16] newbit77 commented on #114
Same, using sketch 54.1 as well and just updated the plugin

[2019-05-15 10:19] Raghav789 commented on #114
same here, using sketch v53, just updated still not working

[2019-05-15 15:56] rodi01 commented on #114
@newbit77 @Raghav789  Phew! I'm glad it worked.

[2019-05-16 15:16] anthonycmain opened #118 "Can you strip existing numbers from layer names"
I need to rename after I've used a number sequence. Is there a way to strip the prefix.

Also if you allowed regular expressions this above would be possible (suggested feature)

[2019-05-16 16:12] rodi01 commented on #118
There is no way to do that right now. It has been asked before and I think I will create a dedicated menu item to remove sequenced numbers.

[2019-05-16 19:23] cheics-d2l commented on #116
Restarting Sketch fixed the preview. Thanks again!

[2019-05-17 08:30] Anlieger opened #119 "Find/Replace not working"
Sketch 54.1 Plugin 4.1.3

Renaming Artboards and Find/Replace not working on documents with many symbols.

[2019-05-17 08:31] #119 closed

[2019-05-17 22:57] rodi01 commented on #82
I've added this feature on the latest beta, if anyone can help me test it will be greatly appreciated.
You can download the beta here: https://github.com/rodi01/RenameIt/releases/download/v4.2.0/Rename-It.sketchplugin.zip

<img width="504" alt="Screen Shot 2019-05-17 at 3 53 23 PM" src="https://user-images.githubusercontent.com/52461/57960215-74300680-78bc-11e9-8009-dca8bdc5420a.png">

[2019-05-20 18:51] assassinave opened #120 "Sequential numbering does not work"
Sequential numbering is broken.

If I want to rename a series of layers/artboards from 10, when inserting %N the result looks like 10, 110, 210...etc instead of 10, 11, 12

Recreated in production and current beta

[2019-05-21 05:11] #120 closed

[2019-05-21 05:59] rock-san opened #121 "Modal not showing up"
Hi! Thanks for making this plugin, I use it almost every day. I've been having this issue over the last few days that when I try to select 'Find and Replace Layers/Artboards Names' from the plugins menu (or I type in the shortcut) no modal comes up. I was wondering if anyone else was having this issue?

I'm using version 4.1.4 of Rename-It and version 54.1 of Sketch

[2019-05-21 06:03] rodi01 commented on #121
@rock-san have you tried restarting sketch?

[2019-05-21 06:10] rock-san commented on #121
Hi @rodi01, I've restarted Sketch (and Abstract since I've been opening up the Sketch files from Abstract) and still no dice. The other two items in the Rename It menu are still working though.

[2019-05-21 06:13] rodi01 commented on #121
Do you see an empty window or nothing at all?

[2019-05-21 06:16] rodi01 commented on #121
Can you remove the plugin all together, restart sketch and install this version: https://github.com/rodi01/RenameIt/releases/download/v4.2.0-BETA/Rename-It.sketchplugin.zip

[2019-05-21 06:32] rock-san commented on #121
Nothing comes up when I click on it. I've uninstalled it and installed the version you've linked to and restarted but nothing comes up still. I've installed and older version of Rename It from someone else in my team (version 2.03) and have it working now.

[2019-05-21 06:41] rock-san commented on #121
I'm happy to replicate this issue again if you want to investigate it further. Hopefully it was just me experiencing it. Thanks again Rodi for helping me troubleshoot it though.

[2019-05-21 17:07] rodi01 commented on #121
Do you know if version 4.0 was working for you? When you have some time, could you give it a try:
https://github.com/rodi01/RenameIt/releases/download/v4.0.0/Rename-It.sketchplugin.zip

[2019-05-21 17:12] nandorocker commented on #121
+1 here
Started after I updated sketch today.

[2019-05-21 17:30] rodi01 commented on #121
Could one of you try to see if there is any error on the console for the latest release?

- Open the console app and  under reports go to:
~/Library/Logs/com.bohemiancoding.sketch3
Go back to Sketch and run the plugin. See if you get any error.

![](https://user-images.githubusercontent.com/52461/42848674-44f28f4a-89d5-11e8-80bb-77968cd88535.png)

[2019-05-21 19:59] rodi01 commented on #121
@nandorocker @rock-san I think I found the issue... Could you guys try the latest version, 4.1.5?

Make sure you restart sketch

[2019-05-22 08:00] krdesign commented on #121
This is my issue.

<img width="387" alt="Screenshot 2019-05-22 at 09 59 04" src="https://user-images.githubusercontent.com/1135269/58157313-4d851d80-7c78-11e9-886b-0b3295ca9c76.png">

`TypeError: null is not an object (evaluating 'u.symbolMaster().name')
    at i (/Users/stefanofois/Library/Application Support/com.bohemiancoding.sketch3/Plugins/Rename-It.sketchplugin/Contents/Sketch/commandFindRep

[2019-05-22 15:20] rodi01 commented on #121
@krdesign does that happen on the 4.1.5 version?

[2019-05-22 15:35] krdesign commented on #121
@rodi01 Yes, I can confirm.
<img width="515" alt="Screenshot 2019-05-22 at 17 35 03" src="https://user-images.githubusercontent.com/1135269/58187890-f69f3880-7cb7-11e9-98cc-8bd47ddbaac7.png">

[2019-05-22 15:55] krdesign commented on #121
Maybe i think the problem is of mini modal of plugin if i click over the modal and dont do nothing the plugin window does not close but the "z-index" are over sketch if i minimize sketch, i will try to show with a short video.

[Screen Recording 2019-05-22 at 17.52.12.mov.zip](https://github.com/rodi01/RenameIt/files/3208210/Screen.Recording.2019-05-22.at.17.52.12.mov.zip)

[2019-05-22 16:11] rodi01 commented on #121
@krdesign I see... I just pushed a version that tries to keep the window on top all the time and I added extra check for the error that you were seeing. Could you please give it a shot?

I think you will need to restart Sketch after updating it

[2019-05-22 19:40] krdesign commented on #121
@rodi01  Thank you!

[2019-05-23 09:29] kjvdven commented on #112
I would like that too!

- I have a symbol with a text label
- I inserted the symbol 20 times in my art board
- I filled the text label name based on custom added data
- Now I would like to rename those layers based on the generated name

[2019-05-23 14:20] nandorocker commented on #121
Works for me :)

[2019-05-23 15:25] rodi01 commented on #121
Thanks you all for the help. I’m going to close this issue. @rock-san try the latest version, it should be working now.

[2019-05-23 15:25] #121 closed

[2019-06-04 22:31] #113 closed

[2019-06-12 14:47] dwinurhadia opened #122 "Sketch 52.2 not compatible plugin"
I was update to latest sketch and compatible with version 4.2.1

[2019-06-12 15:27] rodi01 commented on #122
What version of Sketch are you running right now? The latest 55.2?

[2019-06-12 15:28] #82 closed

[2019-06-12 15:28] #89 closed

[2019-06-12 16:05] jannikolaas commented on #122
Same issue here. Yes Sketch 55.2.
<img width="474" alt="pluginissue" src="https://user-images.githubusercontent.com/1139110/59367543-9b9fb500-8d3c-11e9-98fe-a1fda8f38d06.png">

[2019-06-12 22:33] rodi01 commented on #122
Just to let you guys know, I'm currently looking at this issue. For now, you can manually enable it on the plugin manager and it work just fine. I will post an update as soon as I find the issue.
Thanks for understanding it.

[2019-06-12 23:06] #122 closed

[2019-06-12 23:07] rodi01 commented on #122
Should be fixed now, please update the plugin

[2019-06-13 14:44] chsWeb commented on #122
JFYI, RenameIt does work when manually reenabled, but I do not see any updates available for the plugin via Sketch.

[2019-06-13 16:12] rodi01 commented on #122
@chsWeb have you tried restarting Sketch?

[2019-06-18 14:55] emeforero opened #123 "Plugin not working on Catalina."
Hey I love this plugin used it on my work computer and works great. I installed it on my personal laptop on which I'm running the MacOS Catalina Beta and Sketch 55.1 and the plugin does not work. No modal comes up when clicking any of the options.

[2019-06-24 17:11] rodi01 commented on #123
I don't have Catalina running. I'll see if I can find more info on this, thanks for letting me know.

[2019-06-26 22:06] PixelPoetix commented on #123
Also a big fan of your plugin - use it almost daily! Having the same issue running 55.2 on Catalina beta. I am well aware not to expect everything to work while running a beta OS, so this is just meant to help you get it sorted out. In case it helps, I'm finding that many other plugins I have installed are also not working. If referencing some working ones might help, a couple that ARE working are

[2019-06-26 22:13] rodi01 commented on #123
Yesterday I tested on Catalina and yes the plugin is broken. The issue isn't related to my plugin but to the plugin frameworks that the sketch folks provides. I filed a bug report with them yesterday (https://github.com/skpm/sketch-module-web-view/issues/109), hopefully it will get fixed soon.

I was actually able to launch the window for the plugin but I can't interact with it.

[2019-06-29 19:37] rodi01 commented on #123
Here is an update. One of the Sketch engineers said that it's an issue with Sketch, hopefully it will be fixed on their next release.

[2019-07-23 08:58] ziyafenn commented on #55
Would be nice to have this functionality added!

[2019-08-05 13:52] Mauns opened #124 "Feature Request — text-align operator"
First of all real quick. Great work. RenameIt saves so much time!

When creating a typescale I often also make single scales available for left, center and right.
When all scales are setup I rename them using current operators like the parent operator and also number operator. If all is renamed I use sketch style generator to push all of it to shared styles. So far RenameIt saves a huge amount of

[2019-08-06 22:33] rodi01 commented on #124
This is a cool idea, I will take a look at the sketch API to see how hard this one is.

[2019-09-06 14:32] tockreativ commented on #33
Any word on what this would take? I'd be happy to help.

[2019-09-07 18:35] rodi01 commented on #33
@tockreativ I don't think it would take much to do it. I just don't have time to work on it at the moment. The fill API looks promising https://developer.sketch.com/reference/api/#fill

[2019-09-19 17:55] dakotalightning opened #125 "Feature Request — Text content operator"
Hello, I love the plugin! 👍

Would it be possible to add text content as an operator?

Related text operators
https://github.com/rodi01/RenameIt/issues/124
https://github.com/rodi01/RenameIt/issues/53

[2019-10-01 13:17] anonymousretriever opened #126 "Rename multiple layers with a data source (i.e. JSON or CSV)"
I need some way to rename 1.7K layers using a data source such as a JSON or CSV file. It seems there is no Sketch plugin anywhere that is capable of doing this. I find this quite strange given the disciplines of UI and UX Design moving increasingly towards the role of Design System Management. So, while is is not as much an issue as it is a feature request, I think many a designer would find it va

[2019-10-22 15:06] Rickiyo opened #128 "Get Symbol's name but ignore the submenu"
Thank you for this amazing plugin. I'm using it for the company I currently work for and it has helped us tremendously. As the team lead, I'm looking for better ways to improve the process.

I was wondering if it could be possible to call the Symbol's name and ignore the submenu? So If I have, "Banners/banner_1" it will ignore the "Banners/" part. The goal is to keep the symbols organized and pull

[2019-10-23 19:46] #123 closed

[2019-10-23 19:48] rodi01 commented on #128
This is a great idea. I’ll add to the backlog

[2019-10-24 13:27] Rickiyo commented on #128
Awesome! Hope this helps others as well.

[2019-11-05 12:19] Kamui0001 opened #129 "Stop working"
Hello,

I have a small issue with the plugin. I have sketch 56.3 on Mac OS 15.1 (Catalina).
As of the beginning of this week, impossible to launch the plugin. I click on the find and replace function. I see the rainbow wheel of Mac, meaning "I do something" but finally nothing appears on the screen.

Do you have an idea of the issue?

Thank you for your help.
Kind regards.
Jon

[2019-11-05 18:20] rodi01 commented on #129
Unfortunately, this is an issue with Sketch and Catalina, the only way to fix this is to update Sketch.

I asked the same thing and one of the sketch devs mentioned upgrading to the latest Sketch is the only solution. Here is what I posted https://github.com/skpm/sketch-module-web-view/issues/133

[2019-11-13 20:21] ovodesign82 commented on #110
Hi there.
thank u for a such great and helpful plugin!!!
do you have any updates with custom keywords ????

Looking forward to your kindly reply
Thank you a lot

[2019-11-20 23:54] rodi01 commented on #110
@ovodesign82 I wish I could say that it's nearly done but that isn't the case. I haven't had much time to work on new features for the plugin this year. I do hope that I'll get to most of the top items of the backlog early next year. 🤞

I apologize for underwhelmed update

[2020-02-12 13:03] MotsyRobotsy1984 opened #130 "Sketch 63"
Hi guys,

Rename It doesn't appear to work with Sketch 63, is that correct? Will you be releasing an update to make it compatible any time soon?

[2020-02-12 17:51] rodi01 commented on #130
@MotsyRobotsy1984 I just tried on the 63.1 version released today and it's working. Can you try on the new version?

[2020-02-12 18:14] MotsyRobotsy1984 commented on #130
Hey buddy, thanks for the message. Let me try now, as I hadn't seen a .1 version of Sketch 63 had been made available.

[2020-03-15 20:47] sirpooya opened #131 "Feature request — Rename layers/artboards from a list of items"
It would be so useful to be able to rename artboard/layer names from list of items by choosing a text file or pasting it from elsewhere.

[2020-03-15 20:49] sirpooya commented on #126
I also requested something similar to this here :
https://github.com/rodi01/RenameIt/issues/131#issue-581820012

[2020-03-19 17:43] vwsvws opened #132 "Feature suggestion - Rename artboards with number sequence, from left to right based on their X and Y positions."
Thank you for such useful plugin! I use it almost daily. Here's a quick suggestion:

It seems like currently RenameIt use the order of the layers to apply number sequences, but what if there is an option to use the X and Y positions of the artboards instead?

I organize my artboards in rows, each row is a sequence, from left to right, top to bottom, to create a visual hierarchy. When I rearrange s

[2020-04-09 15:10] jonnydevv commented on #130
Hello,
Plugin is incompatible with Version 64 (93537)

[2020-04-09 17:28] rodi01 commented on #130
@jonnydevv Is it showing as incompatible in the plugin list?

[2020-04-09 20:10] jonnydevv commented on #130
Upon install it shows the message "This plugin is incompatible with Sketch 64. The plugin “Rename-It” is incompatible with Sketch 64. Do you want to install the Plugin?".
So i didn't installed.

[2020-04-09 21:51] rodi01 commented on #130
@jonnydevv I'm currently using it Sketch 64 and it's working fine, it's safe to install. I'll see if I can find the issue, thanks for letting me know

[2020-04-14 22:43] krisniles commented on #132
Same! Sequencing based on artboard Y positions would be amazing. Without this, I find myself using Enumerator, and not able to use RenameIt for most renaming.

[2020-04-18 19:27] 919Studios commented on #131
Great idea @sirpooya!  I would use that feature a lot as well…

[2020-04-21 19:31] JordanTranchina opened #133 "Feature Request: Rename folder based on child text"
Example: I have a folder with two text layers.
I would like a way to rename the folder to be the same as the value entered in the first child text layer. This would be amazing for lists!

[2020-04-21 19:34] JordanTranchina commented on #133
<img width="988" alt="Screen Shot 2020-04-21 at 10 56 01 AM" src="https://user-images.githubusercontent.com/41443492/79906312-8f1ccc00-83e5-11ea-846b-5c5b33a2d324.png">
In the attached. It'd be great to have a feature in which I can rename "Rename This Folder" with "Assets" (the child text value)

[2020-04-22 14:16] nOttenga commented on #132
Same here!
I love this plugin, but without this feature it's really complex to use - you can sort manually the artboards on the layers list but it's too long to do.

[2020-04-22 23:14] rodi01 commented on #132
Do you guys have any suggestions as to which direction the sequence should be prioritized?
Ideally, it would support both directions but for now, if I were to rename columns and rows second would it make sense?

Like this example
![Artboard](https://user-images.githubusercontent.com/52461/80042561-4122c980-84b4-11ea-9b9c-263b79367c83.png)

[2020-04-22 23:17] rodi01 commented on #133
This is interesting, I've never got a request for this feature. I got tons of requests for the parent naming which I have in the plugin.

I'll take a look to see what's involved to make this.

[2020-04-22 23:18] #129 closed

[2020-04-22 23:18] #130 closed

[2020-04-22 23:23] JordanTranchina commented on #133
Whoops attached the wrong screenshot but let me know if you have any clarifying questions :) THANK YOU!

[2020-04-23 08:22] rodi01 commented on #133
Good News! This wasn't too hard to add in, I'll be releasing a new version of it today.

Thanks for the suggestion

[2020-04-23 15:22] nOttenga commented on #132
I usually structure my sketch file in rows so yes, this priority row by row, from left to right would work perfectly for me

[2020-04-23 16:32] #133 closed

[2020-04-23 16:34] krisniles commented on #132
Renaming across the row (Y position) is my primary use-case. That's 90% of the battle. Renaming across both rows and columns (as shown in the image) would be awesome, but not as critical. Does that answer your question @rodi01?

[2020-04-23 16:43] rodi01 commented on #132
I'm working on it, I'm hoping to get it done by the weekend.

[2020-04-23 17:09] JordanTranchina commented on #133
Hey @rodi01 thanks so much for making this! One small bug fix: It appears that this will use the last text layer on the layer list and use it as the folder name. Is there any way to make it take the first text layer?

![Screen Shot 2020-04-23 at 1 08 51 PM](https://user-images.githubusercontent.com/41443492/80128393-9833a780-8563-11ea-91fc-9c555eeda489.png)

Current Experience: Folder is renamed t

[2020-04-23 17:11] rodi01 commented on #133
good catch looks like a easy fix

[2020-04-23 17:23] rodi01 commented on #133
Pushed a fix

[2020-04-23 18:15] JordanTranchina commented on #133
Awesome, thanks! Let me know whenever you push it to master and I'll test it out on Sketch. Haven't seen anything come through the pipes yet but may just be slow to update?

[2020-04-23 18:20] rodi01 commented on #133
It should be up, you might need to restart Sketch to get the notification

[2020-04-23 18:24] JordanTranchina commented on #133
Verified complete and functional. Thanks so much for the quick turnaround!

Jordan Tranchina
Senior UX Designer | EY Design Studio | New York, NY
Website | LinkedIn | Schedule Call
On Apr 23, 2020, 2:20 PM -0400, Rodrigo Soares <notifications@github.com>, wrote:

[2020-04-24 23:50] rodi01 commented on #132
If anyone wants to help me test this featured it would be appreciated. YOu can download the DEV version of the plugin here: https://github.com/rodi01/RenameIt/releases/download/4.5.0-DEV/Rename-It.sketchplugin.zip

I'm still working on the UI but it should be 100% functional.

<img width="504" alt="Screen Shot 2020-04-24 at 4 47 20 PM" src="https://user-images.githubusercontent.com/52461/80265159-

[2020-04-27 15:13] krisniles commented on #132
@rodi01 - Apologies for the delay! I gave it a run through, and it's working fantastically! I shifted artboards around, misaligned them a bit, renamed a whole x/y offset collection, but couldn't get it to break.

The only thing that was slightly confusing was this: When selecting artboards that vary across both X and Y positions, and then choosing to rename based on X position, the preview _lists_

[2020-04-27 16:25] krisniles commented on #132
Food for UI thought: Adding a dropdown that shows the rename pattern (stealing a page from the Craft plugin). With this approach, you could always show the preview as the sequential order the artboards will be renamed in, since the rename pattern is clear.

![Group 11](https://user-images.githubusercontent.com/11843095/80395887-17312480-8871-11ea-91b7-f2177d6aaa4c.png)

[2020-04-27 17:48] rodi01 commented on #132
@krisniles wow! thanks for testing the feature and for your detailed explanation.

In regards to the preview being out of order, I was planning to fix that in the final release. Good catch.

I love your UI/UX suggestion for the order dropdown. For the initial release, I won't have time to do the last item since the same can be accomplished by using the keyword "%n" in lowercase. I do think that's

[2020-05-04 18:05] #132 closed

[2020-05-04 18:05] #103 closed

[2020-05-05 08:19] jonohunt commented on #110
Yeah, this is something I'd really use all the time.

Just being able to add 'Convert to UPPERCASE', 'Convert to lowercase' etc. there would be great. I use those all the time.

[2020-05-06 03:00] AthleticBudda opened #134 "Bug with Find and Replace feature in latest update"
The latest update for the find and replace feature moves layer names between layers which makes the tool currently unusable. Other than that, great tool. Thanks.

[2020-05-06 03:06] rodi01 commented on #134
Looking into it, thakns for letting me know

[2020-05-06 03:11] #134 closed

[2020-05-06 03:12] rodi01 commented on #134
released a fix

[2020-05-06 10:03] mmichellejh opened #135 "Cant rename layers on sketch 51.3"
Hi, is this new update no longer compatible with older sketch versions? the rename pop-up doesnt seem to come up when i try it with sketch 51.3.

[2020-05-06 14:50] braddee opened #136 "Find and Replace swaps artboard names"
Have three artboards with a size suffix and type suffix.  Examples:  "...XL_Dog", "...Med_Dog", "...Small_Dog".  When I run a Find and Replace for "Dog" and replace with "Cat", the "...XL_Dog" artboard becomes "...Small_Cat" and the "...Small_Dog" board becomes "...XL_Cat".  The Med artboard seems to be working correctly.

[2020-05-06 16:24] rodi01 commented on #136
Can you check that you have the latest update 4.5.2

[2020-05-06 16:30] braddee commented on #136
Yes, just got the prompt for the update.  Everything is working as expected!  Thanks so much.

P.S. This plugin is by far my favorite.  Great work!

[2020-05-06 16:32] rodi01 commented on #136
Awesome!

[2020-05-06 16:32] #136 closed

[2020-05-07 18:36] rodi01 commented on #135
Unfortunately, so many changes have been made with Sketch where the plugin won't work for older versions.

[2020-05-09 08:30] cpshanley opened #137 "Reverse order 4.5.2"
I used to like the ease with which numbering could be done in the reverse order. That's gone, now.

Please bring it back!

Cheers

[2020-05-09 08:34] rodi01 commented on #137
It still works, %N is ascending and %n is descending order.

[2020-05-09 08:36] cpshanley commented on #137
Ha. Never knew that. And this is one of those plugins that I use most!

Thanks, keep up the good work, and stay well.

[2020-05-09 08:37] #137 closed

[2020-05-13 18:08] #135 closed

[2020-05-24 15:08] McHeisenburglar opened #138 "Feature request: Rename symbol instances based on override"
If I have a group of city cards for traveling, and I use Sketch overrides and Data to replace the text and image in each, I would love to be able to rename the Symbol instances of those cards with the value of the 'City' override.

For example, let's say City symbol contains:
- City name (text)
- Country name (text)
- Price (text)
- Photo (img)

If I have fifty cities, I would love to automaticall

[2020-06-02 18:35] snds opened #139 "Remove certain character sequence from exisiting"
Hey there,

I was wondering if it would be possible to add a feature where I can supply a user-defined string, something like "_24px," and have the plugin remove that string sequence from all selected (or all artboards/symbols on the page). This is extremely useful when you have a predefined set of icons that come from a third party (in this case Google) and clean up the name so that only the clea

[2020-06-08 16:09] JenCinquini opened #140 "Plugin not showing up"
I am using Sketch 52.6.
I have installed the Rename it Plugin and it shows up under Plugins.
When I select Plugin > Rename It > and any of the sub links, nothing shows up.
Any ideas? Thanks!

[2020-06-30 08:39] alexkaessner opened #141 "Feature Request: Rename Symbols, Text Styles and Layer Styles"
As the title suggests it would be awesome to be able to rename Symbols, Text Styles and Layer Styles. That would help enormously when managing big libraries.

[2020-07-21 14:51] brucewatney opened #142 "[Feature Request] Rename with last setting shortcut key"
Hi. Thanks for this wonderful plugin. Much appreciate.

I was wondering if it is possible to rename things with the last setting using a keyboard setting, if the thing selected is similar to what I selected last time. Here is the scenario:

Most of the time I am labelling layers with similar names. Every time I have to go into the dialog box to set this. So, wondering if I can just use a shortcut

[2020-08-25 16:11] dlewand691 commented on #141
+1,000,000 Please and thank you!

[2020-09-14 17:41] 919Studios opened #143 "[Feature Request] show # of query matches"
# Great work on this utility, I had just a small feature request.  Thank you!
## _(See annotated image for what I am talking about.)_
![AnnotatedFeatureRequestForRenameUtility](https://user-images.githubusercontent.com/20955174/93119515-e9b60d80-f68f-11ea-9472-1a17a890023b.png)

[2020-10-27 10:25] nilssolanki opened #144 "[Feature Request] Support for Regular Expressions in Search and Replace"
Hi, thank you for the great plugin.
I sometimes have the case of needing to duplicate and batch rename lots of layers.
Now I'd like to be able to change multiple things at once matching regular expressions:

- reusing certain parts of the layer or artboard name
- matching specific patterns to be replaced

Do you think it is possible to add this in a future release?

[2020-11-02 10:51] qimmiq commented on #144
second that 👍

[2020-12-09 15:06] lucasstinis opened #145 "Using Rename It 4.5.3 on version Sketch 70.2 (109071) for Apple Silicon crashes Sketch"
As the title says, using Rename it 4.5.3 (any feature) on version Sketch 70.2 (109071) for Apple Silicon crashes Sketch each and every time. I'm running Big Sur 11.0.1 on a Mac Mini (M1 - 16 GB). I tried removing and then reinstalling it, which did not help.

[2020-12-13 09:45] Uncle-Gao opened #146 "Can you add Chinese, I can help translate"
There are many people in China who like this plug-in, but there are also many people who do not use the plug-in because the plug-in does not support Chinese and has certain complexity, so many people will not use it. I hope that the Chinese version can be added to improve the user experience of Chinese users. Translation volunteers.

[2020-12-21 15:44] elFakir commented on #144
Hi, yep, that would be excellent!

[2021-01-07 13:25] lucasstinis commented on #145
FYI, I'm using 70.3 now and it still crashes any time I try to run an action through the plugin.

[2021-01-10 22:42] rodi01 commented on #145
First of all, sorry for the inconvenience.

I did find a forum post about this issue on the plugin dev forum. Look like it's happening with more plugins and it might be an issue on the sketch side.
https://sketchplugins.com/d/2261-plugin-crashes-sketch-with-arm-architecture

One note, I no longer use Sketch as my daily design tool, and I can't justify paying for the license to maintain this projec

[2021-01-14 22:46] phildziedzic commented on #145
Thanks for building and maintaining this, Rodrigo!

I'm also using an M1 mac and it's crashing. Any idea when you'd be able to re-compile for ARM to see if that does the trick?

[2021-01-14 23:14] phildziedzic commented on #145
Side note for @lucasstinis: you can run Sketch using Rosetta, which allows the plugin to work!

Open inspector on the application (command + i) and check "open using Rosetta"
<img width="259" alt="Screen Shot 2021-01-14 at 17 10 42" src="https://user-images.githubusercontent.com/996942/104660221-c7f38400-568b-11eb-8881-befb5ea398c7.png">

Can't speak to the long-term performance, but it's ok for n

[2021-01-15 11:49] lucasstinis commented on #145
Thanks @phildziedzic and @rodi01! I will give running it under Rosetta 2 a try, but since performance isn't that good on the native M1 version, I'm afraid of seeing what running it that way will do, haha...

[2021-01-26 00:21] ivancucer commented on #145
I see that the whole sketch community is dying. And literally, everyone moves to Figma. Unfortunately, I have to use Sketch just because there are a bunch of files I need to use on my current project...

[2021-02-04 16:42] rossul opened #147 "Rename dialog always opens on the main screen with a multiscreen setup."
Even when dragged to the second screen the dialogue does not remember the position and during the next run appears on the main screen again.

Thanks in advance. It is a great plugin.

[2021-02-12 15:29] bomberstudios commented on #145
FYI, we’ve fixed this issue on Sketch 70.5, which we’ll release next week. Apologies for the inconvenience and thanks everyone for your patience 🧡

[2021-02-18 08:39] lucasstinis commented on #145
Thanks for doing this! I appreciate all the hard work you put in to this and am just glad it can be used again. Just tested it on my M1 running Big Sur 11.2.1, using Sketch 70.5, and it's working perfectly again.

[2021-02-18 08:39] #145 closed

[2021-05-05 21:09] roberthuston66 opened #148 "Plugin not working in Sketch 72 version"

[2021-05-06 16:20] bomberstudios commented on #148
Just opened a pull request that fixes this issue

[2021-05-06 17:45] rodi01 commented on #148
Any chance someone can test this build?
https://www.dropbox.com/s/dl/sv8n0fpp6nfnesb/Rename-It-4.5.4.sketchplugin.zip

I no longer have the latest version of Sketch to test it.

[2021-05-06 19:44] prvg commented on #148
Just tried it in Sketch 72.0 – doesn't work for me. Thanks for being on it!
Found this, where they mentioned the usage of an unofficial class by some plug-ins. https://spectrum.chat/sketch/bug-reports/cant-find-variable-msapplicationmetadata~0b44ab46-59e5-4736-b10c-4ec6e083d949

[2021-05-06 21:36] rodi01 commented on #148
@prvg any chance you can post the console error?

[2021-05-06 22:12] prvg commented on #148
`ReferenceError: Can't find variable: MSApplicationMetadata
    at . (/node_modules/sketch-module-google-analytics/index.js@/Users/philippreinhart-vangulpen/Library/Application Support/com.bohemiancoding.sketch3/Plugins/Rename-It-4.5.4.sketchplugin/Contents/Sketch/commandFindReplace.js:1992:36)
    at __webpack_require__ (/Users/philippreinhart-vangulpen/Library/Application Support/com.bohemiancod

[2021-05-06 22:17] prvg commented on #148
[code]

[2021-05-06 22:18] rodi01 commented on #148
@prvg thanks! I will see if I can fix this.

[2021-05-07 08:07] bomberstudios commented on #148
Again: this PR I opened yesterday fixes this issue https://github.com/rodi01/RenameIt/pull/149

[2021-05-07 08:09] rodi01 commented on #148
I compiled from your PR and people are still having issues.

[2021-05-07 08:19] bomberstudios commented on #148
Ah, sorry, I thought you had missed my comment 🙈

One thing you could try is make sure you clean your `node_modules` folder. I made some changes in package versions and that might explain the issues you're seeing.

Also: please email me at ale@sketch.com and I'll make sure you get a license for the current version (I can't imagine how frustrating it must be to work on this blindly 😬)

[2021-05-07 09:02] rodi01 commented on #148
@prvg Here is a new build: https://www.dropbox.com/s/sv8n0fpp6nfnesb/Rename-It-4.5.4.sketchplugin.zip?dl=1

@bomberstudios thanks for your help. I followed your instructions and recompiled the plugin. Hopefully, it works now. FYI, I sent you an email.

[2021-05-07 09:05] Sketch-User commented on #148
@rodi01 it Works

[2021-05-07 09:06] caliiope commented on #148
Oh my God it's working ! Thank you so much !! I thought I was going nuts !

[2021-05-07 09:07] rodi01 commented on #148
Awesome! I'll publish the update now.

[2021-05-07 09:09] #148 closed

[2021-05-07 22:19] roberthuston66 commented on #148
Awesome, thank you so much! 🎉

[2022-03-14 21:50] endquote opened #150 "can't `npm install`"
`.npmrc` points the `@rodi01` namespace to https://npm.pkg.github.com/rodi01, which returns an error.

[2022-08-26 20:54] edwardsanchez opened #151 "Rename it no longer working on Sketch and macOS Ventura."
Whenever I select the rename options, nothing happens.

[2022-11-01 01:58] Polyphian commented on #151
Yeah, same. There's another renaming plugin I've tried using and that doesn't work either. I relied on this plugin too much apparently because it's absolutely destroying my workflow by not being able to use it.

This plugin is no longer maintained and hasn't been updated in years. If you find an alternative please let me know.